---
import Icon from "astro-icon";
import Layout from "../layouts/Page.astro";

const seo = {
  title: "SIB | About US",
  description: "About Us",
};
---

<Layout {seo}>
  <article
    class="mt-20 lg:mt-8 px-[20px] sm:p-0 max-w-3xl mx-auto sm:w-11/12 sm:mx-auto"
  >
    <h1 class="text-3xl sm:text-5xl text-center">About Us</h1>
    <p class="">
      Welcome to our website! We are a team of two passionate individuals
      dedicated to creating content about self-improvement books.
    </p>
    <p>
      Our goal is to help people succeed in life by providing valuable insights
      and recommendations.
    </p>

    <h2>Our Team</h2>

    <p>Our team consists of two members:</p>

    <ul>
      <li>
        <strong>Nicolás Forero Quevedo</strong>: I am a web developer based in
        Colombia. With my technical expertise, I ensure that our website is
        user-friendly and visually appealing. I handle the coding and design
        aspects of the platform.
      </li>
      <li class="mt-4">
        <strong>Santiago Arias Camero</strong>: My friend is a social marketer
        based in the USA. He specialize in promoting our content and engaging
        with our audience on various social media platforms. He is responsible
        for spreading awareness about our website and connecting with our
        readers.
      </li>
    </ul>

    <h2 class="!mt-5">Our Mission</h2>

    <p>
      We believe that self-improvement is crucial for personal growth and
      success.
    </p>
    <p>
      Through our carefully curated content, we aim to inspire and empower
      individuals to take control of their lives and achieve their goals.
    </p>
    <p>
      We provide book recommendations, summaries, and actionable tips to help
      our readers on their self-improvement journey.
    </p>

    <h2>Contact Us</h2>

    <p>
      <a href="/contact" class="underline font-bold link--theme">Contact Page</a
      >
    </p>

    <p>
      If you have any questions, suggestions, or collaboration opportunities,
      please feel free to reach out to us. We would love to hear from you!
    </p>

    <p>- Email: <a href="mailto:sibooks@gmail.com">sibooks@gmail.com</a></p>
    <p>
      - Social Media:
      <a href="https://www.youtube.com/channel/UCyMZBZFzA_Vtsj6jALbHqUw">
        <Icon
          class="ml-2 inline-block"
          name="mdi:youtube"
          width="50"
          height="50"
        />
      </a>
    </p>

    <p>
      Thank you for visiting our website. We hope you find our content valuable
      and inspiring!
    </p>

    <h3>Learn More:</h3>
    <p class="link--theme underline">
      <a href="/topics/categories/success">Best 40 Success Books</a>
    </p>
    <p class="link--theme underline">
      <a href="/topics/categories/success">
        Best 40 Motivational Books to Inspire You to [Reach Your Goals]</a
      >
    </p>
  </article>
</Layout>
