---
import BooksQuote from "../../../BooksQuote/BooksQuote.astro";
import TextSection from "../../../textSection/TextSection.astro";
import ProductCard from "../../products/productCard/productCard.astro";
---

<div
  id="best-motivational-books"
  class="sm:w-11/12 max-w-2xl sm:mx-auto mt-10 rounded-lg"
>
  <h2 class="leading-7" id="best-succesful-mindset-books">
    10 Best Books For Successful Mindset
  </h2>
  <ul class="items-left list-decimal ml-6 underline">
    <li class="mb-2">
      <a class="cursor-pointer" href="#build-the-life"
        >Build the Life You Want: The Art and Science of Getting Happier</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#four-agreements"
        >The Four Agreements: A Practical Guide to Personal Freedom</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#48-laws-of-power">The 48 Laws of Power</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#reframe-your-brain"
        >Reframe Your Brain: The User Interface for Happiness and Success</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#think-and-grow-rich"
        >Think and Grow Rich: The Landmark Bestseller Now Revised and Updated
        for the 21st Century</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#that-sucked-now-what"
        >That Sucked. Now What?: How to Embrace the Joy in Chaos and Find Magic
        in the Mess</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#12-rules-for-life"
        >12 Rules for Life: An Antidote to Chaos</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#7-habits"
        >The 7 Habits of Highly Effective People: 30th Anniversary Edition</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#make-your-bed"
        >Make Your Bed: Little Things That Can Change Your Life...And Maybe the
        World</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#extreme-ownership"
        >Extreme Ownership: How U.S. Navy SEALs Lead and Win</a
      >
    </li>
  </ul>
</div>

<TextSection>
  <h3 id="build-the-life">
    <span>1.</span>
    <a class="link--theme" href="#">"Can't Hurt Me"</a>
    by David Goggins
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="Begin to live as though your prayers are already answered"
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "Can't Hurt Me" by David Goggins is a powerful memoir that chronicles the
    author's journey from a challenging childhood to becoming a Navy SEAL and
    ultra-endurance athlete. Through remarkable perseverance and mental
    toughness, Goggins shares his secrets for pushing past limits and achieving
    extraordinary personal growth.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "Can't Hurt Me" by David Goggins teaches the art of conquering adversity
    through relentless self-discipline and mental fortitude, inspiring readers
    to break their own barriers and achieve remarkable personal growth.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "I loved the book, I think it explains perfectly the thought proses of David
    and shows us how can we implement it in our lives even when we are not as
    crazy as him."
  </p>

  <p>
    Read <a class="underline link--theme" href="#">Can't Hurt Me</a>
    NOW!
  </p>
</TextSection>

<TextSection>
  <h3 id="four-agreements">
    <span>2.</span>
    <a class="link--theme" href="#">"Never Finished"</a>
    by David Goggins
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="Look at things not as they are, but as they can be. Visualization adds value to everything. A big thinker always visualizes what can be done in the future, and doesn’t remain stuck with the present"
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "Never Finished" by David Goggins is an inspiring memoir that chronicles his
    relentless pursuit of self-improvement and overcoming adversity. It
    encourages readers to push beyond their limits, embrace discomfort, and
    continually strive for personal growth and resilience.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    Never Finished is a book that takes you inside his Mental Lab, where he
    developed the philosophy, psychology, and strategies that enabled him to
    learn that what he thought was his limit was only his beginning and that the
    quest for greatness is unending.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "No surprise David Goggins writes a book that's a best seller! This man
    pulls no punches and puts it all out there in this great book. The best
    motivational read on the market!!"
  </p>

  <p>
    Buy <a class="underline link--theme" href="#">Never Finished</a> Right Now!
  </p>
</TextSection>

<TextSection>
  <h3 id="48-laws-of-power">
    <span>3.</span>
    <a class="link--theme" href="#">"The 5 Second Rule"</a>
    by Mel Robbins
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="It’s the possibility of having a dream come true that makes life interesting"
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "The 5 Second Rule" by Mel Robbins provides a practical and effective method
    to overcome hesitation and take immediate action, ultimately leading to
    positive life changes through simple, decisive choices.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "The 5 Second Rule" teaches readers a simple but powerful technique to
    combat procrastination and self-doubt by using the five-second countdown
    method. It shows how taking immediate action can break the cycle of
    hesitation and pave the way for positive, transformative change in various
    aspects of life.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "Great book with good examples and outcomes from using the 5 second rule.
    Already have implemented this back into my life and working wonders"
  </p>

  <p>
    Buy <a class="underline link--theme" href="#">"The 5 Second Rule"</a>
  </p>
</TextSection>

<TextSection>
  <h3 id="reframe-your-brain">
    <span>4.</span>
    <a class="link--theme" href="#">"The Subtle Art Of Not Giving A F*ck"</a>
    by Mark Manson
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="If you find yourself asking yourself (and your friends), 'Am I really a writer? Am I really an artist?' chances are you are. The counterfeit innovator is wildly self-confident. The real one is scared to death"
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    The Subtle Art Of Not Giving A F*ck" by Mark Manson is a candid guide to
    living a meaningful life by embracing discomfort, acknowledging limited
    resources, and focusing on what truly matters. It challenges conventional
    self-help advice by advocating a more realistic and values-based approach to
    happiness.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "The Subtle Art Of Not Giving A F*ck" teaches readers to prioritize values
    and personal growth over superficial pursuits, fostering resilience and
    authenticity. It emphasizes the liberating power of embracing life's
    challenges and finding meaning in the face of adversity.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "This book offers a different view from your standard "self-help" book.
    Extremely enciteful outtake and makes you think in an unconventional way."
  </p>

  <p>
    Buy <a class="underline link--theme" href="#"
      >The Subtle Art Of Not Giving A F*ck</a
    > Now!
  </p>
</TextSection>

<TextSection>
  <h3 id="think-and-grow-rich">
    <span>5.</span>
    <a class="link--theme" href="#">"The Power of Discipline"</a>
    by Daniel Walter
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="It is your commitment to the process that will determine your progress"
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "The Power of Discipline" by Daniel Walter is a comprehensive guide that
    reveals the transformative potential of discipline in achieving personal and
    professional success. Through actionable strategies and real-life examples,
    it empowers readers to harness discipline as a tool for reaching their goals
    and maximizing their potential.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "The Power of Discipline" instructs readers on the vital role of discipline
    in shaping success, offering practical insights and methods to cultivate
    self-control, consistency, and goal attainment. It illuminates how
    discipline serves as the cornerstone of personal and professional growth,
    providing a path to unlocking one's full potential.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "It’s a great book. The examples used are very simple and very easy to
    understand. You may try implementing things easily in life. It’s a good
    boost if you are feeling low and really want to do something"
  </p>

  <p>
    Start to <a class="underline link--theme" href="#"
      >The Power of Discipline</a
    >
  </p>
</TextSection>

<TextSection>
  <h3 id="that-sucked-now-what">
    <span>6.</span>
    <a class="link--theme" href="#">"The 15 Invaluable Laws of Growth"</a>
    by John C. Maxwell
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="If I really want to improve my situation, I can work on the one thing over which I have control - myself"
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "The 15 Invaluable Laws of Growth" by John C. Maxwell is a transformative
    guide that outlines key principles for personal development and lifelong
    growth. It empowers readers to cultivate self-awareness, set purposeful
    goals, and navigate the path to continuous improvement and success.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "The 15 Invaluable Laws of Growth" imparts essential principles for personal
    development, teaching readers how to harness their potential, set meaningful
    goals, and create a growth-oriented mindset. It guides individuals in
    achieving continuous self-improvement and reaching their fullest potential
    in both personal and professional spheres.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "If you don’t know what you’re doing with your life, or where you’re going.
    Then this book is an absolute must! Because it’s not about you, it’s about
    serving and loving others."
  </p>

  <p>
    Read this best-selling book today,
    <a class="underline link--theme" href="#">available right here!</a>
  </p>
</TextSection>

<TextSection>
  <h3 id="12-rules-for-life">
    <span>7.</span>
    <a class="link--theme" href="#">"Master of Change"</a>
    by Brad Stulberg
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="Not giving a f*ck it does not mean being different, it means being comfortable with being different"
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "Master of Change" by Brad Stulberg is a compelling exploration of how
    individuals can adapt and thrive in an ever-evolving world. It provides
    practical strategies for embracing change, cultivating resilience, and
    harnessing personal growth to lead a fulfilling life.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "Master of Change" imparts valuable lessons on navigating uncertainty,
    teaching readers how to build resilience, embrace discomfort, and leverage
    change as a catalyst for personal growth. It offers actionable insights for
    thriving in an evolving world and mastering the art of adaptability.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "Like the author’s prior books I took many lessons from Master of Change.
    Change is constant. Within ourselves and the world around us. Master of
    Change shares a helpful framework to serve as a guide when dealing with
    change. Lastly, I greatly appreciate when an author can make their point in
    200 pages"
  </p>

  <p>
    Master of Change
    <a class="underline link--theme" href="#">available right here!</a>
  </p>
</TextSection>

<TextSection>
  <h3 id="7-habits">
    <span>8.</span>
    <a class="link--theme" href="#">"I Will Teach You to Be Rich"</a>
    by Ramit Sethi
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="It is your commitment to the process that will determine your progress"
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "I Will Teach You to Be Rich" by Ramit Sethi is a practical and
    comprehensive guide to achieving financial success and living a rich life.
    It offers actionable steps for automating finances, investing wisely, and
    making informed money decisions to attain both financial security and
    personal fulfillment.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "I Will Teach You to Be Rich" imparts invaluable financial wisdom, teaching
    readers how to automate their finances, invest intelligently, and build
    wealth without sacrificing the joys of life. It provides a roadmap to
    financial success, offering practical steps to achieve both financial
    security and a fulfilling, rich life.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "This stuff should be taught in school. This was my introduction to
    financial awareness and I loved how the language was simple and effective. I
    know some people don't love the author's tone, but I thought it was
    hilarious. Would not hesitate to buy this book!"
  </p>

  <p>
    Get <a class="underline link--theme" href="#">I Will Teach You To Be Rich</a
    > today!
  </p>
</TextSection>

<TextSection>
  <h3 id="make-your-bed">
    <span>9.</span>
    <a class="link--theme" href="#">"Emotional Intelligence 2.0"</a>
    by Travis Bradberry
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="I derive just as much happiness from the process as from the results"
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "Emotional Intelligence 2.0" by Travis Bradberry is a guide to developing
    emotional intelligence skills for personal and professional success. It
    provides practical strategies for enhancing self-awareness, managing
    emotions, and building stronger relationships, ultimately leading to
    improved decision-making and well-being.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "Emotional Intelligence 2.0" teaches readers how to cultivate emotional
    intelligence, offering tools and techniques to enhance self-awareness,
    regulate emotions, and improve interpersonal relationships. It empowers
    individuals to excel in both personal and professional realms by harnessing
    the power of emotional intelligence.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "Many times I have thought what a person makes more likeable than others,
    but as well as other factor to close deals or be more symphatetic with other
    people. Sor far, I am enjoying the book so much and learning loads from my
    own decisions and the way I am thinking during conflicts or situations.
    Worth the read"
  </p>

  <p>
    Get your copy of <a class="underline link--theme" href="#"
      >Emotional Intelligence 2.0
    </a>now!
  </p>
</TextSection>

<TextSection>
  <h3 id="extreme-ownership">
    <span>10.</span>
    <a class="link--theme" href="#"
      >"Think Again: The Power of Knowing What You Don't Know"</a
    >
    by Adam Grant
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="All change is hard at first, messy in the middle and gorgeous at the end"
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "Think Again" by Adam Grant is a thought-provoking exploration of the
    importance of reevaluating our beliefs and embracing intellectual humility.
    It encourages readers to become more open-minded, flexible thinkers who are
    willing to reconsider their assumptions and adapt to a rapidly changing
    world.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "Think Again" teaches the art of intellectual humility, guiding readers to
    reevaluate their beliefs, embrace uncertainty, and become more agile
    thinkers. It empowers individuals to adapt to new information, challenge
    their assumptions, and make better decisions in both personal and
    professional life.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "The books is packed with wisdom that I will benefit from for my whole life.
    It really is a must read for everyone."
  </p>

  <p>
    <a class="underline link--theme" href="#">Click here now!</a> and purchase "Think
    Again!"
  </p>
</TextSection>
