---
import BooksQuote from "../../../BooksQuote/BooksQuote.astro";
import TextSection from "../../../textSection/TextSection.astro";
import ProductCard from "../../products/productCard/productCard.astro";
---

<div
  id="best-motivational-books"
  class="sm:w-11/12 max-w-2xl sm:mx-auto mt-10 rounded-lg"
>
  <h2 class="leading-7" id="best-succesful-mindset-books">
    10 Best Books For Successful Mindset
  </h2>
  <ol class="items-left underline">
    <li class="mb-2">
      <a class="cursor-pointer" href="#cant-hurt-me"
        >Can't Hurt Me by David Goggins</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#never-finished"
        >Never Finished by David Goggins</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#5-second">The 5 Second Rule</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#subtle-art"
        >The Subtle Art Of Not Giving A F*ck</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#power-discipline"
        >The Power of Discipline</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#15-laws"
        >The 15 Invaluable Laws of Growth</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#master-of-change"
        >Master of Change</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#teach-you-be-rich"
        >I Will Teach You to Be Rich</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#emotional-int"
        >Emotional Intelligence 2.0</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#think-again"
        >Think Again: The Power of Knowing What You Don't Know</a
      >
    </li>
  </ol>
</div>

<TextSection>
  <h3 id="cant-hurt-me">
    <span>1.</span>
    <a class="link--theme" href="https://amzn.to/3RQx2UP">"Can't Hurt Me"</a>
    by David Goggins
  </h3>

  <ProductCard
    title="Can't Hurt Me by David Goggins"
    href="https://amzn.to/3RQx2UP"
    siteLink="https://amzn.to/3RQx2UP"
    imgLink="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1544512287&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=selfimprovi09-20&language=en_US"
  />

  <BooksQuote
    quote="Pain unlocks a secret doorway in the mind, one that leads to both peak performance and beautiful silence."
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "Can't Hurt Me" by David Goggins is a powerful memoir that chronicles the
    author's journey from a challenging childhood to becoming a Navy SEAL and
    ultra-endurance athlete. Through remarkable perseverance and mental
    toughness, Goggins shares his secrets for pushing past limits and achieving
    extraordinary personal growth.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "Can't Hurt Me" by David Goggins teaches the art of conquering adversity
    through relentless self-discipline and mental fortitude, inspiring readers
    to break their own barriers and achieve remarkable personal growth.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "I loved the book, I think it explains perfectly the thought proses of David
    and shows us how can we implement it in our lives even when we are not as
    crazy as him."
  </p>

  <p>
    Buy <a target="_blank" class="underline link--theme" href="https://amzn.to/3RQx2UP">Can't Hurt Me</a>
    on Amazon
  </p>
</TextSection>

<TextSection>
  <h3 id="never-finished">
    <span>2.</span>
    <a class="link--theme" href="https://amzn.to/45oQ7AC">"Never Finished"</a>
    by David Goggins
  </h3>

  <ProductCard
    title="Never Finished"
    href="https://amzn.to/45oQ7AC"
    siteLink="https://amzn.to/45oQ7AC"
    imgLink="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1544534086&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=selfimprovi09-20&language=en_US"
  />

  <BooksQuote
    quote="The path to success is never easy, but it’s always worth it."
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "Never Finished" by David Goggins is an inspiring memoir that chronicles his
    relentless pursuit of self-improvement and overcoming adversity. It
    encourages readers to push beyond their limits, embrace discomfort, and
    continually strive for personal growth and resilience.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    Never Finished is a book that takes you inside his Mental Lab, where he
    developed the philosophy, psychology, and strategies that enabled him to
    learn that what he thought was his limit was only his beginning and that the
    quest for greatness is unending.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "No surprise David Goggins writes a book that's a best seller! This man
    pulls no punches and puts it all out there in this great book. The best
    motivational read on the market!!"
  </p>

  <p>
    Buy <a target="_blank" class="underline link--theme" href="https://amzn.to/45oQ7AC">Never Finished</a> On Amazon
  </p>
</TextSection>

<TextSection>
  <h3 id="5-second">
    <span>3.</span>
    <a class="link--theme" href="https://amzn.to/3RNbpF5">"The 5 Second Rule"</a>
    by Mel Robbins
  </h3>

  <ProductCard
    title="The 5 Second Rule"
    href="https://amzn.to/3RNbpF5"
    siteLink="https://amzn.to/3RNbpF5"
    imgLink="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1682612384&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=selfimprovi09-20&language=en_US"
  />

  <BooksQuote
    quote="You can’t control how you feel. But you can always choose how you act."
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "The 5 Second Rule" by Mel Robbins provides a practical and effective method
    to overcome hesitation and take immediate action, ultimately leading to
    positive life changes through simple, decisive choices.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "The 5 Second Rule" teaches readers a simple but powerful technique to
    combat procrastination and self-doubt by using the five-second countdown
    method. It shows how taking immediate action can break the cycle of
    hesitation and pave the way for positive, transformative change in various
    aspects of life.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "Great book with good examples and outcomes from using the 5 second rule.
    Already have implemented this back into my life and working wonders"
  </p>

  <p>
    Buy <a target="_blank" class="underline link--theme" href="https://amzn.to/3RNbpF5">"The 5 Second Rule"</a>
  </p> on Amazon
</TextSection>

<TextSection>
  <h3 id="subtle-art">
    <span>4.</span>
    <a class="link--theme" href="https://amzn.to/46DyPRj">"The Subtle Art Of Not Giving A F*ck"</a>
    by Mark Manson
  </h3>

  <ProductCard
    title="The Subtle Art of Not Giving a F*ck"
    href="https://amzn.to/46DyPRj"
    siteLink="https://amzn.to/46DyPRj"
    imgLink="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0062457721&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=selfimprovi09-20&language=en_US"
  />

  <BooksQuote
    quote="To not give a f*ck about adversity, you must first care about something more important than adversity."
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    The Subtle Art Of Not Giving A F*ck" by Mark Manson is a candid guide to
    living a meaningful life by embracing discomfort, acknowledging limited
    resources, and focusing on what truly matters. It challenges conventional
    self-help advice by advocating a more realistic and values-based approach to
    happiness.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "The Subtle Art Of Not Giving A F*ck" teaches readers to prioritize values
    and personal growth over superficial pursuits, fostering resilience and
    authenticity. It emphasizes the liberating power of embracing life's
    challenges and finding meaning in the face of adversity.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "This book offers a different view from your standard "self-help" book.
    Extremely enciteful outtake and makes you think in an unconventional way."
  </p>

  <p>
    Buy <a target="_blank" class="underline link--theme" href="https://amzn.to/46DyPRj"
      >The Subtle Art Of Not Giving A F*ck</a
    > Now!
  </p>
</TextSection>

<TextSection>
  <h3 id="power-discipline">
    <span>5.</span>
    <a class="link--theme" href="https://amzn.to/46gLH00">"The Power of Discipline"</a>
    by Daniel Walter
  </h3>

  <ProductCard
    imgLink="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B09TMWJY1K&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=selfimprovi09-20&language=en_US"
    siteLink="https://amzn.to/46gLH00"
    href="https://amzn.to/46gLH00"
    title="The Power Of Discipline by Daniel Walter"
  />

  <BooksQuote
    quote="Discipline is about doing what you know you’ve got to do even when you don’t feel like it."
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "The Power of Discipline" by Daniel Walter is a comprehensive guide that
    reveals the transformative potential of discipline in achieving personal and
    professional success. Through actionable strategies and real-life examples,
    it empowers readers to harness discipline as a tool for reaching their goals
    and maximizing their potential.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "The Power of Discipline" instructs readers on the vital role of discipline
    in shaping success, offering practical insights and methods to cultivate
    self-control, consistency, and goal attainment. It illuminates how
    discipline serves as the cornerstone of personal and professional growth,
    providing a path to unlocking one's full potential.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "It’s a great book. The examples used are very simple and very easy to
    understand. You may try implementing things easily in life. It’s a good
    boost if you are feeling low and really want to do something"
  </p>

  <p>
    Buy <a target="_blank" class="underline link--theme" href="https://amzn.to/46gLH00"
      >The Power of Discipline</a
    > On Amazon
  </p>
</TextSection>

<TextSection>
  <h3 id="15-laws">
    <span>6.</span>
    <a class="link--theme" href="https://amzn.to/45oa5eK">"The 15 Invaluable Laws of Growth"</a>
    by John C. Maxwell
  </h3>

  <ProductCard
    title="The 15 Invaluable Laws of Growth"
    href="https://amzn.to/45oa5eK"
    siteLink="https://amzn.to/45oa5eK"
    imgLink="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1599953676&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=selfimprovi09-20&language=en_US"
  />

  <BooksQuote
    quote="When you want something you have never had, you must do something you’ve never done to get it."
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "The 15 Invaluable Laws of Growth" by John C. Maxwell is a transformative
    guide that outlines key principles for personal development and lifelong
    growth. It empowers readers to cultivate self-awareness, set purposeful
    goals, and navigate the path to continuous improvement and success.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "The 15 Invaluable Laws of Growth" imparts essential principles for personal
    development, teaching readers how to harness their potential, set meaningful
    goals, and create a growth-oriented mindset. It guides individuals in
    achieving continuous self-improvement and reaching their fullest potential
    in both personal and professional spheres.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "If you don’t know what you’re doing with your life, or where you’re going.
    Then this book is an absolute must! Because it’s not about you, it’s about
    serving and loving others."
  </p>

  <p>
    Read this best-selling book today,
    <a target="_blank" class="underline link--theme" href="https://amzn.to/45oa5eK">available On Amazon</a>
  </p>
</TextSection>

<TextSection>
  <h3 id="master-of-change">
    <span>7.</span>
    <a class="link--theme" href="https://amzn.to/3rEdAQq">"Master of Change"</a>
    by Brad Stulberg
  </h3>

  <ProductCard
    title="Master of Change"
    href="https://amzn.to/3rEdAQq"
    siteLink="https://amzn.to/3rEdAQq"
    imgLink="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=006325316X&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=selfimprovi09-20&language=en_US"
  />

  <BooksQuote
    quote="The real secret of world-class performers is not the daily routines that they develop, but that they stick to them. That they show up, even when they don’t feel like it. Call it drive, call it passion, or call it grit; whatever you call it, it must come from deep within."
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "Master of Change" by Brad Stulberg is a compelling exploration of how
    individuals can adapt and thrive in an ever-evolving world. It provides
    practical strategies for embracing change, cultivating resilience, and
    harnessing personal growth to lead a fulfilling life.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "Master of Change" imparts valuable lessons on navigating uncertainty,
    teaching readers how to build resilience, embrace discomfort, and leverage
    change as a catalyst for personal growth. It offers actionable insights for
    thriving in an evolving world and mastering the art of adaptability.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "Like the author’s prior books I took many lessons from Master of Change.
    Change is constant. Within ourselves and the world around us. Master of
    Change shares a helpful framework to serve as a guide when dealing with
    change. Lastly, I greatly appreciate when an author can make their point in
    200 pages"
  </p>

  <p>
    Master of Change
    <a target="_blank" class="underline link--theme" href="https://amzn.to/3rEdAQq">available On Amazon</a>
  </p>
</TextSection>

<TextSection>
  <h3 id="teach-you-be-rich">
    <span>8.</span>
    <a class="link--theme" href="https://amzn.to/3ZLYYvd">"I Will Teach You to Be Rich"</a>
    by Ramit Sethi
  </h3>

  <ProductCard
    title="I Will Teach You to Be Rich"
    href="https://amzn.to/3ZLYYvd"
    siteLink="https://amzn.to/3ZLYYvd"
    imgLink="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1523516879&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=selfimprovi09-20&language=en_US"
  />

  <BooksQuote
    quote="Getting started is more important than becoming an expert"
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "I Will Teach You to Be Rich" by Ramit Sethi is a practical and
    comprehensive guide to achieving financial success and living a rich life.
    It offers actionable steps for automating finances, investing wisely, and
    making informed money decisions to attain both financial security and
    personal fulfillment.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "I Will Teach You to Be Rich" imparts invaluable financial wisdom, teaching
    readers how to automate their finances, invest intelligently, and build
    wealth without sacrificing the joys of life. It provides a roadmap to
    financial success, offering practical steps to achieve both financial
    security and a fulfilling, rich life.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "This stuff should be taught in school. This was my introduction to
    financial awareness and I loved how the language was simple and effective. I
    know some people don't love the author's tone, but I thought it was
    hilarious. Would not hesitate to buy this book!"
  </p>

  <p>
    Get <a target="_blank" class="underline link--theme" href="https://amzn.to/3ZLYYvd">I Will Teach You To Be Rich</a
    > On Amazon
  </p>
</TextSection>

<TextSection>
  <h3 id="emotional-int">
    <span>9.</span>
    <a class="link--theme" href="https://amzn.to/3PMzpFs">"Emotional Intelligence 2.0"</a>
    by Travis Bradberry
  </h3>

  <ProductCard
    title="Emotional Intelligence 2.0"
    href="https://amzn.to/3PMzpFs"
    siteLink="https://amzn.to/3PMzpFs"
    imgLink="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0974320625&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=selfimprovi09-20&language=en_US"
  />

  <BooksQuote
    quote="Your brain has a difficult time distinguishing between what you see with your eyes and what you visualize in your mind."
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "Emotional Intelligence 2.0" by Travis Bradberry is a guide to developing
    emotional intelligence skills for personal and professional success. It
    provides practical strategies for enhancing self-awareness, managing
    emotions, and building stronger relationships, ultimately leading to
    improved decision-making and well-being.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "Emotional Intelligence 2.0" teaches readers how to cultivate emotional
    intelligence, offering tools and techniques to enhance self-awareness,
    regulate emotions, and improve interpersonal relationships. It empowers
    individuals to excel in both personal and professional realms by harnessing
    the power of emotional intelligence.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "Many times I have thought what a person makes more likeable than others,
    but as well as other factor to close deals or be more symphatetic with other
    people. Sor far, I am enjoying the book so much and learning loads from my
    own decisions and the way I am thinking during conflicts or situations.
    Worth the read"
  </p>

  <p>
    Get your copy of <a target="_blank" class="underline link--theme" href="https://amzn.to/3PMzpFs"
      >Emotional Intelligence 2.0
    </a> On Amazon
  </p>
</TextSection>

<TextSection>
  <h3 id="think-again">
    10.
    <a class="link--theme" href="https://amzn.to/3LOxaAm"
      >"Think Again: The Power of Knowing What You Don't Know"</
    >
    by Adam Grant
  </h3>

  <ProductCard
    title="Think Again"
    href="https://amzn.to/3LOxaAm"
    siteLink="https://amzn.to/3LOxaAm"
    imgLink="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0593395786&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=selfimprovi09-20&language=en_US"
  />

  <BooksQuote
    quote="Good judgement depends on having the skill and the will to open our minds."
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "Think Again" by Adam Grant is a thought-provoking exploration of the
    importance of reevaluating our beliefs and embracing intellectual humility.
    It encourages readers to become more open-minded, flexible thinkers who are
    willing to reconsider their assumptions and adapt to a rapidly changing
    world.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "Think Again" teaches the art of intellectual humility, guiding readers to
    reevaluate their beliefs, embrace uncertainty, and become more agile
    thinkers. It empowers individuals to adapt to new information, challenge
    their assumptions, and make better decisions in both personal and
    professional life.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "The books is packed with wisdom that I will benefit from for my whole life.
    It really is a must read for everyone."
  </p>

  <p>
    <a target="_blank" class="underline link--theme" href="https://amzn.to/3LOxaAm">Click here now!</a> and purchase "Think
    Again!" On Amazon
  </p>
</TextSection>
