---
import { Data } from "../../../../utils/booksContainer/success";
import ProductsContainer from "../../products/productsContainer/productsContainer.astro";
---

<h2 class="leading-7" id="best-selling-success-books">
  20 Best-Selling Motivational Books
</h2>

<ProductsContainer productsArray={Data} />
