<div
  class="sm:w-11/12 max-w-2xl sm:mx-auto mt-10 bg-[--theme-surface-2] py-10 px-4 sm:pl-16 rounded-lg"
>
  <h2 class="leading-7">List Of Content:</h2>
  <ul class="items-left list-decimal ml-6 underline">
    <li class="mb-2">
      <a class="cursor-pointer" href="#best-successful-books"
        >10 Best Books to read to be Successful</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#best-succesful-mindset-books"
        >10 Best Books For Successful Mindset</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#best-selling-success-books"
        >20 Best-Selling Motivational Books</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#info">More Info about success books</a>
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#faqs">Frequently asked questions</a>
    </li>
  </ul>
</div>
