---
import { Image } from "astro:assets";
const { mobile } = Astro.props;
---

<div class=`book-card ${mobile && '!block relative'} sm:flex`>
  <Image
    width="400"
    height="558"
    class="book-cover"
    quality={100}
    src="https://jamesclear.com/wp-content/uploads/2023/05/atomic-habits-dots.png"
    alt="Book Cover"
  />
  <div class=`sm:w-1/2 ${mobile && '!w-full'} self-center`>
    <h3 class="book-title">Atomic Habits</h3>
    <div class="book-author">by James Clear</div>
    <!-- <div class="book-delivery">
    FREE delivery Fri, Sep 1 on $35 of items shipped by Amazon Or fastest
    delivery Today 2 PM - 6 PM
  </div> -->
    <div class="book-price">Price: $19.99</div>
  </div>
</div>

<style>
  .book-card {
    z-index: 10;
    color: #000000;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 30px;
    text-align: center;
  }
  .book-cover {
    max-width: 100%;
    margin: 0 auto;
  }

  @media screen and (min-width: 400px) {
    .book-cover {
      max-width: 230px;
      margin: 0 auto;
    }
  }

  .book-title {
    font-weight: bold;
    margin: 10px 0 !important;
  }

  .book-author {
    color: #414141;
    margin: 5px 0;
  }

  .book-delivery {
    margin: 5px 0;
    font-size: 0.8rem;
  }

  .book-price {
    color: green;
    margin: 10px 0;
    font-weight: bold;
  }
</style>
