---
import TextSection from "../../../textSection/TextSection.astro";
import ProductCard from "../../products/productCard/productCard.astro";
import ProductsContainer from "../../products/productsContainer/productsContainer.astro";
---

<div
  id="best-sports-books-oat"
  class="sm:w-11/12 max-w-2xl sm:mx-auto mt-10 rounded-lg"
>
  <h2 class="leading-7 text-center !mb-8">
    Top 5 Best Sports Books Of All Time:
  </h2>
  <ol class="items-left underline">
    <li class="mb-2">
      <a class="cursor-pointer" href="#cant-hurt-me"
        >Can't Hurt Me by David Goggins</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#breath">Breath by Rickson Gracie</a>
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#the-last-dance"
        >"The Last Dance" by Michael Leahy</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#serena">"Open" by Andre Agassi</a>
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#the-miracle-of-di-sangro"
        >"The Miracle of Castel Di Sangro" by Joe McGinniss</a
      >
    </li>
  </ol>
</div>

<!-- <ul class="sm:list-decimal max-w-3xl mx-auto sm:pl-5 pt-2"> -->
<!-- <li class="sm:pl-10"> -->
<TextSection>
  <h3 id="cant-hurt-me">
    1. <span class="link--theme"> "Can't Hurt Me"</span> by David Goggins
  </h3>
  <p>
    David Goggins, a retired Navy SEAL, motivator, and endurance athlete, is
    known for his remarkable athletic achievements and perseverance.
  </p>
  <p>
    In his book 'Can't Hurt Me,' David details his life and career struggles,
    including his upbringing, his time in the military, and getting into
    ultra-distance running.
  </p>
  <p>
    He also takes you through his fitness challenges and how he managed to break
    records. He also offers valuable insights into overcoming personal
    challenges by developing mental and physical strength.
  </p>
  <ProductCard
    title="Can't Hurt Me by David Goggins"
    href="https://amzn.to/3RQx2UP"
    siteLink="https://amzn.to/3RQx2UP"
    imgLink="https://store.eeducationgroup.com/wp-content/uploads/2022/02/Cant-Hurt-Me.jpg"
  />
</TextSection>
<!-- </li> -->
<!-- <li class="sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="breath">
    2. <span class="link--theme">"Breath"</span> by Rickson Gracie
  </h3>
  <p>
    Amongst the most renowned sports personalities of all time is Rickson
    Gracie, Brazilian jiu-jitsu legend. In his book, 'Breath,' Rickson details
    the impact of breathing on the body, mind, and soul.
  </p>
  <p>
    He shares his experience of practicing breathing meditation that helped him
    achieve his fitness goals. This book does not only depict Rickson's
    perseverance in becoming a successful athlete, but it also opens a new path
    for physical and mental wellness using breathing techniques.
  </p>
  <ProductCard
    title="Breath by Rickson Gracie"
    href="https://amzn.to/3LQBAqm"
    siteLink="https://amzn.to/3LQBAqm"
    imgLink="https://th.bing.com/th/id/OIP.yNZ_qvssXzUgtlMXSLo1CgHaLL?rs=1&pid=ImgDetMain"
  />
</TextSection>
<!-- </li> -->
<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="the-last-dance">
    3. <span class="link--theme">"Michael Jordan: The Life"</span>
    by Roland Lazenby
  </h3>
  <p>
    The Shrug. The Shot. The Flu Game. Michael Jordan is responsible for sublime
    moments so ingrained in sports history that they have their own names. When
    most people think of him, they think of his beautiful shots with the game on
    the line, his body totally in sync with the ball -- hitting nothing but net.
  </p>
  <ProductCard
    title="The Intelligent Investor by Benjamin Graham"
    href="https://amzn.to/45kHp6k"
    siteLink="https://amzn.to/45kHp6k"
    imgLink="https://th.bing.com/th/id/R.f9907453725065e172c6addc782fb254?rik=5cCWDCRyqlFoaw&riu=http%3a%2f%2fstatic2.businessinsider.com%2fimage%2f55189a4569bedd1b688d4784-1200%2fthe-intelligent-investor-by-benjamin-graham.jpg&ehk=MNxiqh85L8SwFJrBNpCT9cRu4clKP14EQ8ez8Pujbuc%3d&risl=&pid=ImgRaw&r=0"
  />
</TextSection>
<!-- </li> -->
<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="serena">
    4. <span class="link--theme">"Open"</span> by Andre Agassi
  </h3>
  <p>
    Serena Williams, one of the most acclaimed sports personalities, recommended
    “Open” by Andre Agassi as one of the best sports books of all time.
  </p>
  <p>
    The book talks about Andre Agassi's journey as a tennis player and his rise
    to fame. It also shares his struggles with personal issues and how he dealt
    with them.
  </p>
  <ProductCard
    title="Open by Andre Agassi"
    href="https://amzn.to/3ZLa7fE"
    siteLink="https://amzn.to/3ZLa7fE"
    imgLink="https://th.bing.com/th/id/R.61ba15b31f26328d5128d75d1fc4c5ea?rik=37l%2frk%2bIJog%2bwQ&pid=ImgRaw&r=0"
  />
</TextSection>
<!-- </li> -->

<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="the-miracle-of-di-sangro">
    5.<span class="link--theme">"The Miracle of Castel Di Sangro"</span>
    by Joe McGinniss
  </h3>
  <p>
    The renowned football manager Jose Mourinho recommends “The Miracle of
    Castel Di Sangro” by Joe McGinniss as a must-read book for sports lovers.
  </p>
  <p>
    The book talks about the triumphs and struggles of a small-town Italian
    football team, Castel Di Sangro, as they progress to the top tier of Italian
    football.
  </p>
  <ProductCard
    title="The Miracle of Castel Di Sangro by Joe McGinniss"
    href="https://amzn.to/3rxzvZN"
    siteLink="https://amzn.to/3rxzvZN"
    imgLink="https://i.dailymail.co.uk/i/pix/2014/10/07/1412689122108_Image_galleryImage_The_Miracle_of_Castel_Di_.JPG"
  />
</TextSection>
<!-- </li> -->
