---
import TextSection from "../../../textSection/TextSection.astro";
import ProductCard from "../../products/productCard/productCard.astro";
import ProductContainer from "../../products/productsContainer/productsContainer.astro";
---

<div
  id="best-books-for-athletes"
  class="sm:w-11/12 max-w-2xl sm:mx-auto mt-10 rounded-lg"
>
  <h2 class="leading-7">Top 5 Best Books For Athletes:</h2>
  <ul class="items-left list-decimal ml-6 underline">
    <li class="mb-2">
      <a class="cursor-pointer" href="#peak-performance">Peak Performance</a>
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#champions-mind"
        >The Champion's Mind: How Great Athletes Think, Train, and Thrive</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#mind-gym"
        >Mind Gym: An Athlete's Guide to Inner Excellence</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#endure"
        >Endure: Mind, Body, and the Curiously Elastic Limits of Human
        Performance</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#relentless"
        >Relentless: From Good to Great to Unstoppable</a
      >
    </li>
  </ul>
</div>

<!-- <ul class="sm:list-decimal max-w-3xl mx-auto sm:pl-5 pt-2"> -->
<!-- <li class="sm:pl-10"> -->
<TextSection>
  <h3 class="link--theme" id="peak-performance">
    <span class="text-[--theme-on-bg]">1.</span>
    <a href="">"Peak Performance"</a>
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} slot="featured" />
  </div>

  <p class="!mt-6">Are you an athlete looking for ways to improve your game?</p>
  <p>
    Peak Performance is the perfect book for those who want to become better
    athletes and reach their full potential. This book provides amazing insight
    into the performance of professional athletes, showing what it takes to make
    it in their sports. It dives deep into the psychology behind great
    performances, giving you valuable knowledge on how to excel in your sport.
  </p>
  <p>
    With this unique mix of facts and personal stories from professional
    athletes, Peak Performance will be a great read not only for aspiring
    athletes but also coaches or fans that want a deeper understanding of what
    goes through an athlete’s mind while they compete at higher levels. You can
    learn about different mindsets as well as practical tips for maximizing
    athletic potential. In addition, get inspired by elite athletes and never
    give up on your dream!
  </p>

  <p>
    Buy <a class="underline link--theme " href="">Peak Performance</a> now and take
    your training up a notch!
  </p>
</TextSection>
<!-- </li> -->
<!-- <li class="sm:pl-10"> -->
<TextSection>
  <h3 class="link--theme" id="champions-mind">
    <span class="text-[--theme-on-bg]">2. </span><a href=""
      >"The Champion's Mind: How Great Athletes Think, Train, and Thrive"</a
    >
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} slot="featured" />
  </div>

  <p class="!mt-6">Have you ever wondered what makes great athletes tick?</p>
  <p>
    The Champion's Mind dives deep and reveals the training, motivation, thought
    processes and techniques elite-level athletes use to succeed. Whether it’s a
    marathon runner or an Olympic gold medalist, this book looks at how they
    stay focused on their goals and excel in their sport. It also explains the
    strategies they use to remain calm under pressure, make adjustments on the
    fly and maintain a strong competitive mindset.
  </p>
  <p>
    If you’re looking to become an elite athlete yourself or just want to gain
    insight into what makes champions tick, then this book is for you! You can
    finally discover how top performers develop mental toughness so that come
    game time they’re ready both physically and mentally. Get inside advice from
    sport psychologists as well as real life examples of great athletes who have
    pushed themselves out of their comfort zones in order to be successful!
  </p>
  <p>
    Buy <a class="underline link--theme " href="">The Champion's Mind</a> today!
    take your performance, ambition, motivation & expectations to whole new level!
  </p>
</TextSection>

<TextSection>
  <h3 class="link--theme" id="mind-gym">
    <span class="text-[--theme-on-bg]">3. </span><a href=""
      >"Mind Gym: An Athlete's Guide to Inner Excellence"</a
    >
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} slot="featured" />
  </div>

  <p class="!mt-6">Are you an athlete looking to unlock your true potential?</p>
  <p>
    Mind Gym: An Athlete's Guide to Inner Excellence is here with the answers
    and insights you need to become the best version of yourself. The book
    explains how mental ability, focus, energy levels and positive thinking have
    an undeniable impact on physical performance. It will show you that a strong
    mindset can be just as important in achieving success as natural athletic
    talent - if not more so!
  </p>
  <p>
    Mastering your mental game could be the key factor setting you apart from
    other athletes in your sport. Whether it’s staying focused or recovering
    quicker from setbacks; this guide teaches practical tips on managing
    emotions, coping with stressful situations and improving communication
    skills - all essential for unlocking greater personal success.
  </p>
  <p>
    Get a copy of <a class="underline link--theme " href="">Mind Gym</a> today and
    start training smarter!
  </p>
</TextSection>

<TextSection mxw="">
  <h3 class="link--theme" id="endure">
    <span class="text-[--theme-on-bg]">4. </span>
    <a href=""
      >"Endure: Mind, Body, and the Curiously Elastic Limits of Human
      Performance"</a
    >
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} slot="featured" />
  </div>

  <p class="!mt-6">Ever wonder what makes some athletes push their limits?</p>
  <p>
    Endure takes an intimate look at the minds, bodies, and lives of some of
    these boundary-pushing athletes. You’ll learn about the science behind
    extreme human performance, as well as insights from anthropologists who
    study incredible feats of physical and mental endurance.
  </p>
  <p>
    Find out how we can all tap into our own superhuman potential - whether it’s
    getting through a grueling day at work or tackling a tough personal
    challenge. Through inspiring stories and cutting-edge scientific research
    this book will make you rethink your own limitations - and just maybe
    inspire you to take on bigger challenges and reach further than ever before!
  </p>
  <p>
    Preorder your copy of <a class="underline link--theme " href="">Endure</a>
    today to unlock your inner athlete!
  </p>
</TextSection>

<TextSection>
  <h3 class="link--theme" id="relentless">
    <span class="text-[--theme-on-bg]">5. </span>
    <a href="">"Relentless: From Good to Great to Unstoppable"</a>
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} slot="featured" />
  </div>

  <p class="!mt-6">Are you ready to take your success to the next level?</p>

  <p>
    With Relentless, you will learn how to trust your gut, stay in control and
    gain the upper hand. You will become unstoppable with our methods of finding
    weak points in any situation and attacking them. We'll show you how to be a
    master of every game!
  </p>

  <p>
    Imagine what it would feel like to always get the win when playing life’s
    most challenging games? Think about finally feeling confident while making
    decisions even under pressure and winning against all odds. Wouldn't that be
    great?
  </p>

  <p>
    Get started on your journey towards greatness today - Use Relentless for
    strategies that are used by some of the world’s top performers in business,
    sport and life! <a class="underline link--theme" href="">Click here now!</a>
  </p>
</TextSection>
