---
import { Icon } from "astro-icon";
import Layout from "../../../layouts/Page.astro";
import ProductsContainer from "../../../components/sections/products/productsContainer/productsContainer.astro";
import Button from "../../../components/Button/button.astro";

const seo = {
  title: "Landing Page #1 | Astro Odyssey Theme",
  description: "Landing Page #1 | Astro Odyssey Theme",
};
---

<Layout {seo} announcementBar={true}>
  <section class="mx-auto w-11/12 max-w-2xl lg:my-12 my-24">
    <h1 class="text-3xl  sm:text-5xl">
      Economics Books and Financial Literacy Knowledge
    </h1>
    <p class="!mt-10">
      In a rapidly evolving world, understanding the principles of economics and
      mastering financial literacy are essential components of making informed
      decisions. Welcome to our comprehensive guide on economics books and
      financial literacy, where we explore the profound impact of economic
      knowledge on personal growth and financial well-being.
    </p>
  </section>

  <section class="mx-auto w-11/12 max-w-2xl my-12 text-left">
    <h2 class="">Featured Economics Books</h2>
    <p>
      Discover a selection of top-rated economics books that offer valuable
      insights into economic principles, financial literacy, and more. Explore
      these recommended titles and deepen your understanding of the world of
      economics.
    </p>
  </section>

  <section class="flex-col flex justify-around min-h-[90vh] mt-24">
    <div class="text-center sm:mx-auto">
      <h2 class="text-3xl sm:text-5xl sm:w-11/12 sm:!mx-auto">
        BEST SELLING ECONOMICS BOOKS
      </h2>
    </div>

    <ProductsContainer />

    <div class="flex justify-center items-center mt-10">
      <Button
        href="https://www.amazon.com/b/?node=2581&ref_=Oct_d_odnav_d_3_0&pd_rd_w=e2NWo&content-id=amzn1.sym.da9d5993-999b-41a1-9ebb-f85ff6fd0fb0&pf_rd_p=da9d5993-999b-41a1-9ebb-f85ff6fd0fb0&pf_rd_r=64PAYA8YMH05D2WN1YQ0&pd_rd_wg=2EAmh&pd_rd_r=fd9967f0-c191-4e96-bdbe-f04a773e1c24"
        customIcon
      >
        More offers on Amazon
        <span slot="icon">
          <Icon name="ic:baseline-chevron-right" />
        </span>
      </Button>
    </div>
  </section>

  <section class="mx-auto w-11/12 max-w-2xl my-12 text-left">
    <h2 class="">Why Economics Education Matters</h2>
    <p>
      Economics, often considered a complex subject, plays an intricate role in
      our lives. From microeconomic concepts that explain individual choices to
      macroeconomic trends that shape national economies, economics provides a
      lens through which we can understand the dynamics of the modern world.
    </p>
  </section>

  <section class="mx-auto w-11/12 max-w-2xl my-12 text-left">
    <h2 class="">The Power of Financial Literacy</h2>
    <p>
      Financial literacy empowers individuals to take charge of their financial
      futures. Equipped with skills to manage money wisely and make informed
      decisions, financial literacy fosters confidence in navigating personal
      finance.
    </p>
  </section>

  <section class="mx-auto w-11/12 max-w-2xl my-12 text-left">
    <h2 class="">Exploring Basic Economics Concepts</h2>
    <p>
      Our exploration of economics begins with diving into fundamental concepts
      that underpin economic theory. Microeconomics examines how individuals,
      households, and businesses make decisions in resource-constrained
      environments. We'll explore concepts such as supply and demand, market
      equilibrium, and consumer behavior. On the macroeconomic front, we'll
      delve into topics like GDP, inflation, unemployment, and fiscal policy.
    </p>
  </section>

  <section class="mx-auto w-11/12 max-w-2xl my-12 text-left">
    <h2 class="">Embracing Financial Education</h2>
    <p>
      Financial education is a catalyst for informed financial decision-making.
      Whether through formal education programs, workplace workshops, or
      self-directed learning, embracing financial education empowers individuals
      to navigate complex financial landscapes with confidence.
    </p>
  </section>

  <section class="mx-auto w-11/12 max-w-2xl my-12 text-left">
    <h2 class="">Navigating Financial Literacy Month</h2>
    <p>
      Financial Literacy Month is a dedicated time to enhance our understanding
      of financial concepts and foster financial well-being. Throughout this
      month, various organizations, institutions, and communities come together
      to offer events, workshops, and resources aimed at improving financial
      literacy.
    </p>
  </section>

  <section class="mx-auto w-11/12 max-w-2xl my-12 text-left">
    <h2 class="">Conclusion</h2>
    <p>
      In conclusion, the journey through economics books and financial literacy
      is one of self-improvement and empowerment. As you explore the concepts of
      economics, financial literacy, and their real-world applications, you're
      taking proactive steps towards achieving greater financial understanding.
    </p>
  </section>
</Layout>
