---
import Layout from "../../../layouts/Page.astro";
import IntroSection from "../../../components/sections/IntroSection/IntroSection.astro";

import Body from "../../../components/sections/Article/MotivationalBooks/Body.astro";
import ProductCard from "../../../components/sections/products/productCard/productCard.astro";

const seo = {
  title: "Best 40 Motivational Books To Reach Your Goals",
  description:
    "It's time to take control of your life and unlock your potential! Get the motivation you need with these inspirational books. Our selection of motivational books will help you become more disciplined and live a better, happier life.",
};
---

<Layout {seo} announcementBar={true}>
  <IntroSection>
    <h1 class="text-3xl sm:text-5xl text-center">
      Best 40 Motivational Books to Inspire You to [Reach Your Goals]
    </h1>
    <p>
      Are you feeling stuck or unmotivated in your career or personal life?
      Don't worry, you're not alone.
    </p>
    <p>
      Everyone needs a little inspiration and motivation from time to time.
      Luckily, there are many incredible books out there that can help you find
      your passion, set goals, and stay focused.
    </p>

    <h2 class="text-center" slot="featured">BEST-SELLING Motivational BOOK</h2>

    <ProductCard mobile={true} products={1} slot="featured" />
  </IntroSection>

  <Body />
</Layout>
