---
import { Icon } from "astro-icon";
import Layout from "../../../layouts/Page.astro";
import ProductsContainer from "../../../components/sections/products/productsContainer/productsContainer.astro";
import Button from "../../../components/Button/button.astro";

const seo = {
  title: "Landing Page #1 | Astro Odyssey Theme",
  description: "Landing Page #1 | Astro Odyssey Theme",
};
---

<Layout {seo} announcementBar={true}>
  <section class="mx-auto w-11/12 max-w-2xl lg:my-12 mt-24 mb-6">
    <h1 class="text-4xl  sm:text-5xl">
      Books on Success: Your Path to Achievement
    </h1>
  </section>

  <section class="mx-auto w-11/12 max-w-2xl my-12 text-left">
    <h2 class="">Uncover the Secrets of Success</h2>
    <p>
      Delve into a collection of enlightening books on success that unlock the
      keys to achieving your goals, cultivating a winning mindset, and
      navigating the road to success. Explore these impactful titles that
      provide valuable insights, data-driven strategies, and timeless wisdom to
      help you on your journey.
    </p>
  </section>

  <!-- <section class="mx-auto w-11/12 max-w-2xl my-12 text-left">
    <h2 class="">Featured Economics Books</h2>
    <p>
      Discover a selection of top-rated economics books that offer valuable
      insights into economic principles, financial literacy, and more. Explore
      these recommended titles and deepen your understanding of the world of
      economics.
    </p>
  </section> -->

  <section class="flex-col flex justify-around min-h-[90vh] mt-12">
    <div class="text-center sm:mx-auto">
      <h2 class="text-3xl sm:text-5xl sm:w-11/12 sm:!mx-auto">
        BEST SELLING ECONOMICS BOOKS
      </h2>
    </div>

    <ProductsContainer />

    <div class="flex justify-center items-center mt-10">
      <Button
        href="https://www.amazon.com/b/?node=2581&ref_=Oct_d_odnav_d_3_0&pd_rd_w=e2NWo&content-id=amzn1.sym.da9d5993-999b-41a1-9ebb-f85ff6fd0fb0&pf_rd_p=da9d5993-999b-41a1-9ebb-f85ff6fd0fb0&pf_rd_r=64PAYA8YMH05D2WN1YQ0&pd_rd_wg=2EAmh&pd_rd_r=fd9967f0-c191-4e96-bdbe-f04a773e1c24"
        customIcon
      >
        More offers on Amazon
        <span slot="icon">
          <Icon name="ic:baseline-chevron-right" />
        </span>
      </Button>
    </div>
  </section>

  <section class="mx-auto w-11/12 max-w-2xl my-12 text-left">
    <h2 class="">Introduction</h2>
    <p class="!mt-10">
      Welcome to our guide on books about success, where we embark on a journey
      through literature that empowers you to unlock your potential and achieve
      greatness. Whether you're an entrepreneur, aspiring leader, or simply
      seeking personal growth, these books offer insights that can shape your
      path to success.
    </p>
  </section>

  <section class="mx-auto w-11/12 max-w-2xl my-12 text-left">
    <h2 class="">The Power of Mindset</h2>
    <p>
      The foundation of success often lies within your mindset. Dive into books
      like "Mindset: The New Psychology of Success" that delve into the
      psychology of achievement. Explore the impact of a growth mindset and how
      it can revolutionize your approach to challenges and opportunities.
    </p>
  </section>

  <section class="mx-auto w-11/12 max-w-2xl my-12 text-left">
    <h2 class="">Decoding the Law of Success</h2>
    <p>
      Unlock the timeless principles of success through books that explore "The
      Law of Success." Discover strategies, anecdotes, and case studies that
      illuminate the universal laws that drive achievement. These books provide
      a blueprint for success that transcends industries and generations.
    </p>
  </section>

  <section class="mx-auto w-11/12 max-w-2xl my-12 text-left">
    <h2 class="">Building Blocks of Achievement</h2>
    <p>
      Discover a selection of books meticulously curated to provide you with a
      roadmap for success. These titles offer data-driven insights and
      statistics that highlight the common traits shared by successful
      individuals. Learn from real-world examples that showcase the application
      of success principles in various fields.
    </p>
  </section>

  <section class="mx-auto w-11/12 max-w-2xl my-12 text-left">
    <h2 class="">Success Stories that Inspire</h2>
    <p>
      Inspirational stories have the power to ignite motivation and
      determination. Immerse yourself in books that showcase the extraordinary
      journeys of individuals who achieved remarkable success. These stories
      serve as a source of inspiration and provide valuable lessons that you can
      apply to your own path.
    </p>
  </section>

  <section class="mx-auto w-11/12 max-w-2xl my-12 text-left">
    <h2 class="">Essential Reading for Entrepreneurs</h2>
    <p>
      For budding and seasoned entrepreneurs alike, these books offer actionable
      advice, strategies, and case studies to guide your journey. Whether you're
      looking to launch a startup or scale your business, these resources
      provide insights from successful business leaders.
    </p>
  </section>

  <section class="mx-auto w-11/12 max-w-2xl my-12 text-left">
    <h2 class="">The Path to Personal Growth</h2>
    <p>
      Success isn't confined to the professional realm—it extends to personal
      growth as well. Explore books that offer holistic strategies to improve
      various aspects of your life, from relationships to well-being. Embrace
      the wisdom that contributes to your overall success and fulfillment.
    </p>
  </section>

  <section class="mx-auto w-11/12 max-w-2xl my-12 text-left">
    <h2 class="">Navigating Challenges: Success Mindset</h2>
    <p>
      Challenges are a natural part of the journey to success. These books delve
      into the mindset that allows individuals to navigate challenges, setbacks,
      and failures with resilience and determination. Learn how a
      success-oriented mindset transforms adversity into opportunity.
    </p>
  </section>

  <section class="mx-auto w-11/12 max-w-2xl my-12 text-left">
    <h2 class="">Conclusion</h2>
    <p>
      In your pursuit of success, knowledge is your most valuable asset. Through
      the pages of these books on success, you'll gain insights that shape your
      perspective, refine your strategies, and empower you to overcome
      obstacles. Embark on a transformative journey towards achieving your goals
      and realizing your full potential.
    </p>
  </section>
</Layout>
