---
import TextSection from "../../textSection/TextSection.astro";
import ProductsContainer from "../products/productsContainer/productsContainer.astro";
---

<div
  id="best-sports-books-oat"
  class="sm:w-11/12 max-w-2xl sm:mx-auto mt-10 rounded-lg"
>
  <h2 class="leading-7 text-center !mb-8">
    Top 5 Best Sports Books Of All Time:
  </h2>
  <ul class="items-left list-decimal ml-6 underline">
    <li class="mb-2">
      <a class="cursor-pointer" href="#cant-hurt-me"
        >Can't Hurt Me by David Goggins</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#breath">Breath by Rickson Gracie</a>
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#the-last-dance"
        >"The Last Dance" by Michael Leahy</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#serena">"Open" by Andre Agassi</a>
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#the-miracle-of-di-sangro"
        >"The Miracle of Castel Di Sangro" by Joe McGinniss</a
      >
    </li>
  </ul>
</div>

<!-- <ul class="sm:list-decimal max-w-3xl mx-auto sm:pl-5 pt-2"> -->
<!-- <li class="sm:pl-10"> -->
<TextSection>
  <h3 id="cant-hurt-me">1. "Can't Hurt Me" by David Goggins</h3>
  <p>
    David Goggins, a retired Navy SEAL, motivator, and endurance athlete, is
    known for his remarkable athletic achievements and perseverance.
  </p>
  <p>
    In his book 'Can't Hurt Me,' David details his life and career struggles,
    including his upbringing, his time in the military, and getting into
    ultra-distance running.
  </p>
  <p>
    He also takes you through his fitness challenges and how he managed to break
    records. He also offers valuable insights into overcoming personal
    challenges by developing mental and physical strength.
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
<!-- <li class="sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="breath">2. "Breath" by Rickson Gracie</h3>
  <p>
    Amongst the most renowned sports personalities of all time is Rickson
    Gracie, Brazilian jiu-jitsu legend. In his book, 'Breath,' Rickson details
    the impact of breathing on the body, mind, and soul.
  </p>
  <p>
    He shares his experience of practicing breathing meditation that helped him
    achieve his fitness goals. This book does not only depict Rickson's
    perseverance in becoming a successful athlete, but it also opens a new path
    for physical and mental wellness using breathing techniques.
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="the-last-dance">
    3. Michael Jordan: “The Last Dance” by Michael Leahy
  </h3>
  <p>
    Basketball legend Michael Jordan's “The Last Dance” is a memoir that talks
    about the most important game of his career, which took place on Father's
    Day, 1996.
  </p>
  <p>
    It captures the events leading up to the game, where he almost broke down in
    tears, the game itself, and the aftermath. The book also offers insights
    into the mindset of the greatest basketball player of all time.
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="serena">4. "Open" by Andre Agassi</h3>
  <p>
    Serena Williams, one of the most acclaimed sports personalities, recommended
    “Open” by Andre Agassi as one of the best sports books of all time.
  </p>
  <p>
    The book talks about Andre Agassi's journey as a tennis player and his rise
    to fame. It also shares his struggles with personal issues and how he dealt
    with them.
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->

<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="the-miracle-of-di-sangro">
    5. "The Miracle of Castel Di Sangro" by Joe McGinniss
  </h3>
  <p>
    The renowned football manager Jose Mourinho recommends “The Miracle of
    Castel Di Sangro” by Joe McGinniss as a must-read book for sports lovers.
  </p>
  <p>
    The book talks about the triumphs and struggles of a small-town Italian
    football team, Castel Di Sangro, as they progress to the top tier of Italian
    football.
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
