---
import TextSection from "../../textSection/TextSection.astro";
import ProductsContainer from "../products/productsContainer/productsContainer.astro";
---

<div
  id="best-sports-and-outdoor-books"
  class="sm:w-11/12 max-w-2xl sm:mx-auto mt-10 rounded-lg"
>
  <h2 class="leading-7">Best Sports and Outdoors Biographies Books:</h2>
  <ul class="items-left list-decimal ml-6 underline">
    <li class="mb-2">
      <a class="cursor-pointer" href="#why-economics-books-matter"
        >"Born to Run" by Christopher McDougall</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#mamba-mentality"
        >"Mamba Mentality" by Kobe Bryant</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#into-thin-air"
        >"Into Thin Air" by Jon Krakauer</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#the-boys-in-the-boat"
        >"The Boys in the Boat" by Daniel James Brown</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#endurance-a"
        >"Endurance" by Alfred Lansing</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#a-walk-in-the-woods"
        >"A Walk in the Woods" by Bill Bryson</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#the-perfect-mile"
        >"The Perfect Mile" by Neal Bascomb</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#barbarian-days"
        >"Barbarian Days" by William Finnegan</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#the-river-of-doubt"
        >"The River of Doubt" by Candice Millard</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#the-emeral-mike"
        >"The Emerald Mile" by Kevin Fedarko</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#the-climb"
        >"The Climb" by Anatoli Boukreev and G. Weston DeWalt</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#touching-the-void"
        >"Touching the Void" by Joe Simpson</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#the-long-way"
        >"The Long Way" by Bernard Moitessier</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#the-emeral-mike"
        >"Talking to GOATs" by Jim Gray</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#Wenger">"Wenger" by Arsene Wenger</a>
    </li>
  </ul>
</div>

<!-- <ul class="sm:list-decimal max-w-3xl mx-auto sm:pl-5 pt-2"> -->
<!-- <li class="sm:pl-10"> -->
<TextSection>
  <h3 id="born-to-run">1. "Born to Run" by Christopher McDougall</h3>
  <p>
    This memoir chronicles the author's journey to discover the secrets of the
    Tarahumara Indians, who are known for their incredible running skills. "Born
    to Run" is a must-read for anyone interested in the science behind human
    endurance.
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
<!-- <li class="sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="mamba-mentality">2. "Mamba Mentality" by Kobe Bryant</h3>
  <p>
    In the wake of his retirement from professional basketball, Kobe “The Black
    Mamba” Bryant decided to share his vast knowledge and understanding of the
    game to take readers on an unprecedented journey to the core of the
    legendary “Mamba mentality.”
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="into-thin-air">3."Into Thin Air" by Jon Krakauer</h3>
  <p>
    This memoir delves into the devastating 1996 Mount Everest disaster, which
    claimed the lives of eight climbers. Krakauer offers an intimate and
    gripping account that will leave you on the edge of your seat.
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="the-boys-in-the-boat">
    4. "The Boys in the Boat" by Daniel James Brown
  </h3>
  <p>
    This biography follows the journey of the University of Washington's rowing
    team as they prepare for the 1936 Olympics in Nazi Germany. Brown's book is
    a powerful and poignant tale of perseverance and determination.
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="endurance-a">5. "Endurance" by Alfred Lansing</h3>
  <p>
    This biography follows the journey of explorer Ernest Shackleton and his
    crew as they attempt to cross Antarctica in 1914. Lansing's meticulous
    research and vivid writing make for an exhilarating and gripping read.
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="a-walk-in-the-woods">6. "A Walk in the Woods" by Bill Bryson</h3>
  <p>
    This memoir follows Bryson's attempt to hike the Appalachian Trail with his
    friend Stephen Katz. Bryson's humor and wit make for a truly entertaining
    and engaging read.
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="the-perfect-mile">7. "The Perfect Mile" by Neal Bascomb</h3>
  <p>
    This biography tells the story of the quest to break the four-minute mile
    barrier in the 1950s. Bascomb's writing is filled with suspense and drama,
    making for a truly exhilarating read.
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="barbarian-days">8. "Barbarian Days" by William Finnegan</h3>
  <p>
    This memoir chronicles Finnegan's lifelong passion for surfing. Finnegan's
    writing is honest and immersive, painting a vivid picture of the joys and
    struggles of chasing waves.
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="the-river-of-doubt">9. "The River of Doubt" by Candice Millard</h3>
  <p>
    This biography follows Theodore Roosevelt's incredible journey down the
    uncharted River of Doubt in the heart of the Amazon. Millard's writing is
    thrilling and suspenseful, offering a vivid portrait of one of America's
    most beloved presidents.
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="the-emeral-mike">10. "The Emerald Mile" by Kevin Fedarko</h3>
  <p>
    This memoir chronicles the author's journey to raft the entire length of the
    Colorado River through the Grand Canyon. Fedarko's writing is lyrical and
    immersive, making for a truly unforgettable read.
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="the-climb">
    11. "The Climb" by Anatoli Boukreev and G. Weston DeWalt
  </h3>
  <p>
    This memoir follows the mountain-climbing career of Boukreev, who played a
    key role in the 1996 Mount Everest disaster. Boukreev's insights and
    expertise make for a fascinating and informative read.
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="touching-the-void">12. "Touching the Void" by Joe Simpson</h3>
  <p>
    This memoir recounts the harrowing experience of two climbers who become
    stranded on the Siula Grande mountain in the Peruvian Andes. Simpson's
    writing is haunting and powerful, making for a truly unforgettable read.
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="the-long-way">13. "The Long Way" by Bernard Moitessier</h3>
  <p>
    This memoir follows Moitessier's journey to circumnavigate the globe alone,
    without stopping. Moitessier's writing is poetic and introspective, making
    for a truly beautiful and meditative read.
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="talking-to-goats">14. "Talking to GOATs" by Jim Gray</h3>
  <p>
    Tom Brady, seven-time NFL Super Bowl champion GOATA riveting, insightful
    memoir of never-before-told stories from Jim Gray, twelve-time Emmy
    Award-winner, Hall of Fame sports broadcaster, and renowned interviewer—
    that explores the author's career and the inside stories and memorable
    moments of the famous legends he has covered including, Muhammad Ali, Tom
    Brady, Kobe Bryant, LeBron James, Michael Jordan and Mike Tyson
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
<!-- <li class=" sm:pl-10"> -->
<TextSection mxw="">
  <h3 id="Wenger">15. "Wenger" by Arsene Wenger</h3>
  <p>
    In Wenger: My Life and Lessons in Red and White, world-renowned and
    revolutionary soccer coach Arsène Wenger finally tells his own story for the
    very first time.
  </p>
  <ProductsContainer products={1} />
</TextSection>
<!-- </li> -->
<!-- </ul> -->
