---
import { Icon } from "astro-icon";
import Layout from "../../layouts/Page.astro";
import Button from "../../components/Button/button.astro";

const seo = {
  title: "SIB | Self Improvement Topics and Categories",
  description:
    "Explore a diverse range of self-improvement categories for personal growth. From health and wellness to productivity and mindset, discover the paths to a better you.",
};
---

<Layout {seo} announcementBar={true}>
  <section class="mx-auto w-11/12 max-w-2xl lg:my-12 mt-24 mb-6">
    <h1 class="text-4xl sm:text-5xl text-red-500">
      We Are Still In The Proccess Of Building this Page
    </h1>
  </section>
</Layout>

<style>
  .category-container {
    margin-block: 30px;
  }
</style>
