html,
body {
  height: 100%;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--theme-bg);
  position: relative;
}

p {
  max-width: 75ch !important;
}

pre {
  padding: 1em;
  border-radius: 0.5em;
  overflow: auto;
}

pre .language-id {
  display: none;
}

ul,
ol {
  display: block;
  margin: 1em 0 !important;
  padding: 0 0 0 20px !important;
}

ul {
  list-style-type: disc !important;
}
ol {
  list-style-type: decimal !important;
}
ul ul,
ol ul {
  list-style-type: circle;

  margin-left: 15px !important;
}
ol ol,
ul ol {
  list-style-type: lower-latin;

  margin-left: 15px !important;
}
