---
import { Icon } from "astro-icon";
import Layout from "../../layouts/Page.astro";
import ProductsContainer from "../../components/sections/products/productsContainer/productsContainer.astro";
import Button from "../../components/Button/button.astro";
import TextSection from "../../components/textSection/TextSection.astro";
import FAQs from "../../components/FAQs/FAQs.astro";
import FAQ from "../../components/FAQs/FAQ.astro";

import IntroSection from "../../components/sections/IntroSection/IntroSection.astro";

import BestSportsAndOutdoors from "../../components/sections/Article/Sports-article/BestSportsAndOutdoors.astro";
import BestSportsBooksOfAllTime from "../../components/sections/Article/Sports-article/BestSportsBooksOfAllTime.astro";
import BestBooksForAthletes from "../../components/sections/Article/Sports-article/BestBooksForAthletes.astro";
import ProductCard from "../../components/sections/products/productCard/productCard.astro";
import { Schema } from "astro-seo-schema";

const seo = {
  title: "Top 25 Sports and Outdoor Motivational Books",
  description:
    "Whether you're a beginner or an experienced adventure-seeker, get inspired with this list of the top 25 sports and outdoor books.",
};
---

<Schema
  item={{
    "@context": "https://schema.org/",
    "@type": "Product",
    name: "The Champion's Mind",
    description:
      "If you’re looking to become an elite athlete yourself or just want to gain insight into what makes champions tick, then this book is for you! You can finally discover how top performers develop mental toughness so that come game time they’re ready both physically and mentally",
    review: {
      "@type": "Review",
      reviewRating: {
        "@type": "Rating",
        ratingValue: 4.6,
        bestRating: 5,
      },
      author: [
        {
          "@type": "Person",
          name: "Nicolas Forero",
        },
        {
          "@type": "Person",
          name: "Santiago Arias",
        },
      ],
    },
    aggregateRating: {
      "@type": "AggregateRating",
      ratingValue: 4.4,
      reviewCount: 89,
    },
  }}
/>

<Layout {seo} announcementBar={true}>
  <IntroSection>
    <h1 class="text-3xl sm:text-5xl text-center">
      Top 25 Sports Books & Lessons for Athletes and [EVERYONE]
    </h1>
    <p>Whether someone is just starting out or has been playing for years;</p>
    <p>
      these picks will help any athlete make improvements in their life by
      helping them gain insight into training techniques, rest days (and why
      they matter!)
    </p>
    <p>nutrition tips plus build valuable team dynamics</p>

    <h2 class="text-center" slot="featured">BEST-SELLING SPORTS BOOK</h2>

    <ProductCard
      title="The Mamba Mentality by Kobe Bryant"
      href="https://amzn.to/3PDSj1k"
      siteLink="https://amzn.to/3PDSj1k"
      imgLink="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0374201234&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=selfimprovi09-20&language=en_US"
      slot="featured"
    />
  </IntroSection>

  <article
    class="pt-3 px-[20px] sm:p-0 max-w-3xl mx-auto sm:w-11/12 sm:mx-auto"
  >
    <div
      class="sm:w-11/12 max-w-2xl sm:mx-auto mb-10 bg-[--theme-surface-2] text-[--theme-on-surface-2] py-10 px-4 sm:pl-16 rounded-lg"
    >
      <h2 class="leading-7">List Of Content:</h2>
      <ul class="items-left underline">
        <li class="mb-5">
          <a class="cursor-pointer" href="#best-books-for-athletes"
            >Top 5 Best Books For Athletes</a
          >
        </li>
        <li class="mb-5">
          <a class="cursor-pointer" href="#best-sports-and-outdoor-books"
            >Best Sports and Outdoors Books</a
          >
        </li>
        <li class="mb-5">
          <a class="cursor-pointer" href="#best-sports-books-oat"
            >Top 5 Best Sports Books Of All Time:</a
          >
        </li>

        <li class="mb-5">
          <a class="cursor-pointer" href="#faqs">Frequently asked questions</a>
        </li>
      </ul>
    </div>

    <BestBooksForAthletes />

    <BestSportsAndOutdoors />

    <BestSportsBooksOfAllTime />

    <TextSection>
      <h3 id="conclusion">Conclusion</h3>
      <p>
        No matter what sport you enjoy, these books offer an essential roadmap
        for surpassing your current goals and exploring new boundaries in your
        performance. So if you’re looking to take it to the next level, pick up
        one of these books and start mastering sports like never before! If you
        want to get serious about reaching peak performance intensity, the “Peak
        Performance” book is highly recommended.
      </p>
    </TextSection>

    <TextSection>
      <h2 id="why-economics-books-matter" class="text-base sm:text-lg pt-6">
        Wich is the best book for athletes?
      </h2>
      <p class="">
        As an athlete, you know that the mental game can be just as important as
        the physical.
      </p>
      <p class="">
        So, which book should you pick up to give you the mental edge you need
        to push through those tough workouts or competition days?.
      </p>
      <p class="">
        From autobiographies of legends like Michael Jordan and Serena Williams
        to more instructional reads like "The Mind Gym" by Gary Mack and David
        Casstevens, there is no shortage of options.
      </p>

      <div class="flex justify-center items-center pb-6">
        <Button href="#best-books-for-athletes" customIcon>
          Best Books For Athletes
          <Fragment slot="icon">
            <Icon name="ic:baseline-chevron-right" />
          </Fragment>
        </Button>
      </div>

      <p class="">
        If you don't know how to decide my recomendation is "Peak Performance"
      </p>

      <ProductCard
        title="Peak Performance by Erik Seversen"
        href="https://amzn.to/46ibC7B"
        siteLink="https://amzn.to/46ibC7B"
        imgLink="https://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0BN4Y3CN5&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=selfimprovi09-20&language=en_US"
      />
    </TextSection>

    <FAQs>
      <FAQ>
        <h3
          slot="question"
          class="justify-between flex cursor-pointer items-center transition-transform text-sm leading-8"
        >
          Q: What are the best sports and outdoor books for all ages?<span
            class="icon">+</span
          >
        </h3>
        <p slot="answer" class="!m-0">
          Calling all sports enthusiasts and outdoor adventurers! Whether you're
          looking for a gripping tale of perseverance and triumph or a
          comprehensive guide to mastering your favorite activity, the world of
          sports and outdoor literature has something for everyone. From
          heart-racing memoirs to practical how-to's, there's no shortage of
          page-turners to choose from. Some popular picks for all ages include <a
            href="https://amzn.to/3McI6bt"
            class="underline link--theme"
          >
            "Born to Run" by Christopher McDougall
          </a>, <a href="https://amzn.to/3ROtNNQ" class="link--theme underline"
            >"Wild"</a
          > by Cheryl Strayed, and <a
            href="https://amzn.to/48UnLRZ"
            class="link--theme underline">"Into Thin Air" by Jon Krakauer</a
          >. So grab a cozy blanket and a hot cup of cocoa, and get ready to be
          inspired, informed, and entertained by the very best sports books out
          there.
        </p>
      </FAQ>
      <FAQ>
        <h3
          slot="question"
          class="justify-between flex cursor-pointer items-center transition-transform text-sm leading-8"
        >
          Q: What are the must-read books for athletes<span class="icon">+</span
          >
        </h3>
        <p slot="answer" class="!m-0">
          <a href="https://amzn.to/46ibC7B" class="link--theme underline"
            >"Peak Performance"</a
          >, <a href="" class="link--theme underline">
            "The Champion's Mind: How Great Athletes Think, Train, and Thrive"
          </a> and <a
            href="https://amzn.to/45f7Z0J"
            class="link--theme underline">"Mamba Mentality"</a
          > are some if not the best books for athletes, where you can learn how
          to improve you overall Performance
        </p>
      </FAQ>
    </FAQs>
  </article>
</Layout>
