---
import ProductCard from "../productCard/productCard.astro";
const { products, mobile = false } = Astro.props;
---

<div class:list={["grid-container", "z-10", "relative", { columns: mobile }]}>
  {[...Array(products)].map((el) => <ProductCard mobile={mobile} />)}
  <!-- Repeat the above book-card elements for more books -->
</div>

<!-- more products -->

<style>
  .grid-container {
    width: 100%;
    margin-inline: auto;
    display: grid;
    grid-gap: 20px;
  }

  .columns {
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  }
</style>
