---
import ProductCard from '../productCard/productCard.astro'
const {
  products
} = Astro.props;
---

<div class="grid-container z-10 relative">
  {
    [...Array(products)].map(el => <ProductCard/>)
  }
  <!-- Repeat the above book-card elements for more books -->
</div>

<!-- more products -->

<style>
  .grid-container {
    max-width: 1024px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  }

</style>
