---
import ProductCard from "../productCard/productCard.astro";
const { productsArray } = Astro.props;
---

<div class="grid-container z-10 relative columns">
  {
    productsArray.map((el) => (
      <ProductCard
        siteLink={el.siteLink}
        imgLink={el.imgLink}
        href={el.siteLink}
        title={el.title}
      />
    ))
  }
  <!-- Repeat the above book-card elements for more books -->
</div>

<!-- more products -->

<style>
  .grid-container {
    width: 100%;
    margin-inline: auto;
    display: grid;
    grid-gap: 20px;
  }

  .columns {
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  }
</style>
