---
import FAQ from "../../../FAQs/FAQ.astro";
import FAQs from "../../../FAQs/FAQs.astro";
---

<FAQs>
  <FAQ>
    <h3
      slot="question"
      class="justify-between flex cursor-pointer items-center transition-transform text-sm leading-8"
    >
      Q: Does reading books make you mentally stronger?<span class="icon"
        >+</span
      >
    </h3>
    <p slot="answer" class="!m-0">
      Calling all sports enthusiasts and outdoor adventurers! Whether you're
      looking for a gripping tale of perseverance and triumph or a comprehensive
      guide to mastering your favorite activity, the world of sports and outdoor
      literature has something for everyone. From heart-racing memoirs to
      practical how-to's, there's no shortage of page-turners to choose from.
      Some popular picks for all ages include <a
        href="https://amzn.to/3McI6bt"
        class="underline link--theme"
      >
        "Born to Run" by Christopher McDougall
      </a>, <a href="https://amzn.to/3ROtNNQ" class="link--theme underline"
        >"Wild"</a
      > by Cheryl Strayed, and <a
        href="https://amzn.to/48UnLRZ"
        class="link--theme underline">"Into Thin Air" by Jon Krakauer</a
      >. So grab a cozy blanket and a hot cup of cocoa, and get ready to be
      inspired, informed, and entertained by the very best sports books out
      there.
    </p>
  </FAQ>
  <FAQ>
    <h3
      slot="question"
      class="justify-between flex cursor-pointer items-center transition-transform text-sm leading-8"
    >
      Q: Is there a book for not procrastinating?<span class="icon">+</span>
    </h3>
    <p slot="answer" class="!m-0">
      <a href="https://amzn.to/46ibC7B" class="link--theme underline"
        >"Peak Performance"</a
      >, <a href="" class="link--theme underline">
        "The Champion's Mind: How Great Athletes Think, Train, and Thrive"
      </a> and <a href="https://amzn.to/45f7Z0J" class="link--theme underline"
        >"Mamba Mentality"</a
      > are some if not the best books for athletes, where you can learn how to improve
      you overall Performance
    </p>
  </FAQ>
</FAQs>
