---
import FAQ from "../../../FAQs/FAQ.astro";
import FAQs from "../../../FAQs/FAQs.astro";
---

<FAQs>
  <FAQ>
    <h3
      slot="question"
      class="justify-between flex cursor-pointer items-center transition-transform text-sm leading-8"
    >
      Q: Does reading books make you mentally stronger?<span class="icon"
        >+</span
      >
    </h3>
    <p slot="answer" class="!m-0">
      Reading books can enhance mental strength by stimulating critical
      thinking, improving vocabulary, and fostering empathy, ultimately boosting
      cognitive resilience and emotional intelligence.
    </p>
  </FAQ>
  <FAQ>
    <h3
      slot="question"
      class="justify-between flex cursor-pointer items-center transition-transform text-sm leading-8"
    >
      Q: Is there a book for not procrastinating?<span class="icon">+</span>
    </h3>
    <p slot="answer" class="!m-0">
      Yes, there are several books available to help you overcome
      procrastination and boost productivity. Explore titles like <a
        href="https://amzn.to/48CmDSR"
        class="underline link--theme">"The Procrastination Equation"</a
      > and <a href="https://amzn.to/46wmb6Q" class="underline link--theme"
        >"Eat That Frog!"</a
      > for valuable insights and strategies to tackle procrastination effectively.
    </p>
  </FAQ>
</FAQs>
