---
import BooksQuote from "../../../BooksQuote/BooksQuote.astro";
import TextSection from "../../../textSection/TextSection.astro";
import ProductCard from "../../products/productCard/productCard.astro";
---

<div
  id="best-books-for-athletes"
  class="sm:w-11/12 max-w-2xl sm:mx-auto mt-10 rounded-lg"
>
  <h2 class="leading-7">Top 10 Best Motivational Books</h2>
  <ul class="items-left list-decimal ml-6 underline">
    <li class="mb-2">
      <a class="cursor-pointer" href="#peak-performance">Peak Performance</a>
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#champions-mind"
        >The Champion's Mind: How Great Athletes Think, Train, and Thrive</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#mind-gym"
        >Mind Gym: An Athlete's Guide to Inner Excellence</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#endure"
        >Endure: Mind, Body, and the Curiously Elastic Limits of Human
        Performance</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#relentless"
        >Relentless: From Good to Great to Unstoppable</a
      >
    </li>
  </ul>
</div>

<!-- <ul class="sm:list-decimal max-w-3xl mx-auto sm:pl-5 pt-2"> -->
<!-- <li class="sm:pl-10"> -->
<TextSection>
  <h3 id="peak-performance">
    <span>1.</span>
    <a class="link--theme" href="#">"The Power of Positive Thinking"</a>
    by Norman Vincent Peale
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="It is your commitment to the process that will determine your progress"
  />

  <p class="!mt-6">
    Are you looking for a way to make positive changes in your life?
  </p>
  <p>
    Norman Vincent Peale’s timeless classic,
    <a class="underline link--theme" href="#">
      The Power Of Positive Thinking!
    </a>, is now available in a vividly updated edition perfect for today's
    reader. With inspiring stories and expert guidance through the principles of
    ‘positive mental attitude’ this book is every bit as relevant and needed
    today as it was when first published over six decades ago.
  </p>
  <p>
    By reading this book, you will learn <a
      class="underline link--theme "
      href="#">The Power Of Positive Thinking!</a
    > and how it can change your life for the better. You will be able to think more
    positively, gain inner confidence and recognize opportunities available in everyday
    life.
  </p>

  <p>
    Take advantage of this timeless wisdom today by purchasing <a
      class="underline link--theme "
      href="#">The Power Of Positive Thinking!</a
    >
  </p>
</TextSection>

<TextSection>
  <h3 id="champions-mind">
    <span>2. </span>
    <a class="link--theme" href="#">"The 7 Habits of Highly Effective People"</a
    >
    by Stephen Covey
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="If I really want to improve my situation, I can work on the one thing over which I have control - myself"
  />

  <p class="!mt-6">Looking to take your life to the next level?</p>
  <p>
    The 7 Habits of Highly Effective People by Stephen Covey is a bestselling
    book for a reason. It offers an engaging and powerful framework on how to
    improve areas such as time management, habit formation, relationship
    building, and commitment. You'll be equipped with the tools you need to
    succeed in everyday life.
  </p>
  <p>
    Make confident decisions and control over your life like never before - all
    while experiencing profound growth in key aspects of your personal
    development! Develop healthy habits that will help you become more
    successful; both professionally and personally.
  </p>
  <p>
    Read this best-selling book today,
    <a class="underline link--theme " href="#">available right here!</a>
  </p>
</TextSection>

<TextSection>
  <h3 id="mind-gym">
    <span>3.</span>
    <a class="link--theme" href="#">"The Subtle Art of Not Giving a F*ck"</a>
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="Not giving a f*ck it does not mean being different, it means being comfortable with being different"
  />

  <p class="!mt-6">
    Are you feeling overwhelmed by everything that’s going on in your life?
  </p>
  <p>
    Take a break and pick up Mark Manson's <a
      class="underline link--theme"
      href="#">The Subtle Art of Not Giving a F*ck</a
    >. This book will help you focus on what really matters, prioritize your
    values and live a fulfilled life. It offers alternative techniques for
    managing the frustrations and disappointments of modern-day living.
  </p>
  <p>
    You'll be able to stop worrying about things that don't matter, develop
    better relationships with yourself and others, and reclaim control over how
    you spend your time. Stop feeling overwhelmed or burnt out - this book can
    show you another path forward!
  </p>
  <p>
    <a class="underline link--theme" href="#">Click here!</a> now to grab your copy
    of The Subtle Art of Not Giving a F*ck today!
  </p>
</TextSection>

<TextSection>
  <h3 id="endure">
    <span>4.</span>
    <a class="link--theme" href="#">"Atomic Habits"</a>
    by James Clear
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="It is your commitment to the process that will determine your progress"
  />

  <p class="!mt-6">
    Are you looking for a way to make lasting changes in your life?
  </p>
  <p>
    <a class="underline link--theme" href="#">Atomic Habits</a> by James Clear is
    the answer and it's here to help. He'll teach you not only how to get 1% better
    every day, but also provide scientific insights into why habits work and what
    science-backed approaches are best used when building new ones.
  </p>
  <p>
    You’ll be able to make small improvements daily while seeing real progress
    over time. With this powerful system as your guide, you’ll finally unlock
    the secrets behind building positive habits so you can become unstoppable on
    your journey toward better health, relationships and overall well-being.
  </p>
  <p>
    Get <a class="underline link--theme" href="#">Atomic Habits</a> today!
  </p>
</TextSection>

<TextSection>
  <h3 id="relentless">
    <span>5. </span>
    <a class="link--theme" href="#">"Mindset"</a>
    by Carol Dweck
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="I derive just as much happiness from the process as from the results"
  />

  <p class="!mt-6">Are you looking for the secret to success?</p>

  <p>
    <a class="underline link--theme" href="#">Mindset by Carol Dweck</a> can show
    you the way. This book breaks down how having a growth mindset will help enable
    success in personally and professionally life. It provides practical advice and
    tools to help those willing to take action on their goals, dreams, relationships,
    and wellbeing.
  </p>

  <p>
    With her research-driven insights into human motivation and development
    mind-blowing stories of people who have achieved extraordinary things -
    Mindset offers an inspiring roadmap for readers looking to unlock their
    potential.
  </p>

  <p>
    Get your copy of <a class="underline link--theme" href="#"
      >this inspiring read now!</a
    > Discover how having the right mindset can be the key ingredient behind achieving
    any goal or dream today.
  </p>
</TextSection>

<TextSection>
  <h3 id="relentless">
    <span>6.</span>
    <a class="link--theme" href="#">"The War of Art"</a>
    by Steven Pressfield
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="If you find yourself asking yourself (and your friends), 'Am I really a writer? Am I really an artist?' chances are you are. The counterfeit innovator is wildly self-confident. The real one is scared to death"
  />

  <p class="!mt-6">
    Have you been looking for a way to beat procrastination, creative blocks and
    self-doubt?
  </p>

  <p>
    <a class="underline link--theme" href="#"
      >"The War of Art by Steven Pressfield"</a
    > will give you the strategies you need to break through obstacles that are holding
    you back from accomplishing your goals. It’s an essential book for anyone who
    wants to be more productive and achieve success. You don't have to battle resistance
    alone - this book is here to help!
  </p>

  <p>
    With inspiring stories and tools from real life experience, The War of Art
    helps unleash the hidden power inside each one of us so we can reach our
    highest potential and realize our wildest dreams. You can learn how to
    overcome any challenge in order push forward on your journey towards
    greatness.
  </p>

  <p>
    Put <a class="underline link--theme" href="#">The War of Art</a> into action
    now by purchasing it today! Unlock the secret weapons within yourself that have
    always been there waiting for activation. Get ready - the revolution starts now!
  </p>
</TextSection>

<TextSection>
  <h3 id="relentless">
    <span>7. </span>
    <a class="link--theme" href="#">"The 5 AM Club"</a>
    by Robin Sharma
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="All change is hard at first, messy in the middle and gorgeous at the end"
  />

  <p class="!mt-6">Have you ever wished that you had more hours in the day?</p>

  <p>
    <a class="underline link--theme" href="#">Join Robin Sharma’s 5AM Club</a> and
    take back your mornings! This revolutionary program is an absolute must for anyone
    who desires to make the most of their day. By waking up an hour early, every
    morning can feel like a new beginning - rich with possibilities. You’ll be surprised
    by how quickly each hour goes when it’s filled with meaningful activity.
  </p>

  <p>
    The 5 AM Club provides the tools and guidance to help you start living
    differently today. With this book as your guide, you will learn how to
    create a routine that jumpstarts your productivity while also developing
    self-discipline and focusing on becoming better versions of yourself. Now
    there's no excuse not to get what matters done!
  </p>

  <p>
    <a class="underline link--theme" href="#">Click here now!</a> and purchase The
    5 AM Club by Robin Sharma! Take control of your days starting right now!
  </p>
</TextSection>

<TextSection>
  <h3 id="relentless">
    <span>8.</span>
    <a class="link--theme" href="#">"Awaken the Giant Within"</a>
    by Tony Robbins
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote quote="Begin to live as though your prayers are already answered"
  />

  <p class="!mt-6">Are you ready to take control of your life?</p>

  <p>
    <a class="underline link--theme" href="#"
      >Awaken the Giant Within by Tony Robbins</a
    > is your guide to becoming the best version of yourself. Through this book,
    you will learn how to take control of your life and accomplish whatever you set
    out to do. With Tony’s insights, strategies and exercises he has developed over
    years of experience as a successful performance coach, you can live an extraordinary
    life filled with happiness, health and success.
  </p>

  <p>
    Whether it's getting rid of limiting beliefs or mastering new skills -
    transform any area in your life with actionable steps that grant lasting
    results. Let Tony show you how to become more decisive, confident, motivated
    and inspired so that no obstacle stands in the way of achieving all these
    goals!
  </p>

  <p>
    Get a <a class="underline link--theme" href="#">copy now</a> and let Awaken the
    Giant Within unleash its full potential today!
  </p>
</TextSection>

<TextSection>
  <h3 id="relentless">
    <span>9.</span>
    <a class="link--theme" href="#">"The Magic of Thinking Big"</a>
    by David J. Schwartz
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="Look at things not as they are, but as they can be. Visualization adds value to everything. A big thinker always visualizes what can be done in the future, and doesn’t remain stuck with the present"
  />

  <p class="!mt-6">
    Are you ready to reach your full potential and achieve your dreams?
  </p>

  <p>
    <a class="underline link--theme" href="#"
      >The Magic of Thinking Big by David J. Schwartz</a
    > has helped millions of people unlock their true potential and take control
    of their lives. This book will show you how to become a winner in life and unleash
    your inner greatness. With simple, practical advice on how to think positively
    and increase motivation, it’s the perfect companion for anyone looking to make
    changes in their life.
  </p>

  <p>
    Imagine having clarity about what you really want out of life, discovering
    rewarding opportunities that were previously hidden from view, becoming more
    productive with less effort…It’s all possible with <a
      class="underline link--theme"
      href="#">The Magic Of Thinking Big!</a
    > Get this book now so you can start achieving success today!
  </p>

  <p>
    Buy <a class="underline link--theme" href="#"
      >The Magic Of Thinking Big Now</a
    > - Start Achieving Success Today!
  </p>
</TextSection>

<TextSection>
  <h3 id="relentless">
    <span>10.</span>
    <a class="link--theme" href="#">"The Alchemist"</a>
    by Paulo Coelho
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="It’s the possibility of having a dream come true that makes life interesting"
  />

  <p class="!mt-6">Is there a book that can make your dreams come true?</p>

  <p>
    <a class="underline link--theme" href="#">The Alchemist</a> is an inspiring tale
    of Paulo Coelho about a boy on his journey to achieve his dreams. He meets many
    people along the way who help him gain the knowledge and courage he needs to
    pursue what he wants out of life. With every challenge, he learns valuable lessons
    that can be applied in our real-life struggles and teaches us how important it
    is to strive for what we want most.
  </p>

  <p>
    This powerful story promises readers great insights into life’s challenges
    which makes it one of the top classic novels loved by millions around the
    world! <a class="underline link--theme" href="#">Read this</a> amazing adventure
    as you will find yourself getting lost in its pages, wanting for more as each
    chapter unfolds!
  </p>

  <p>
    Buy <a class="underline link--theme" href="#">The Alchemist</a> today and start
    your own exciting journey towards making your own destiny come true!
  </p>
</TextSection>
