---
import BooksQuote from "../../../BooksQuote/BooksQuote.astro";
import TextSection from "../../../textSection/TextSection.astro";
import ProductCard from "../../products/productCard/productCard.astro";
---

<div
  id="best-books-for-athletes"
  class="sm:w-11/12 max-w-2xl sm:mx-auto mt-10 rounded-lg"
>
  <h2 class="leading-7">Top 10 Best Motivational Books</h2>
  <ul class="items-left list-decimal ml-6 underline">
    <li class="mb-2">
      <a class="cursor-pointer" href="#peak-performance">Peak Performance</a>
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#champions-mind"
        >The Champion's Mind: How Great Athletes Think, Train, and Thrive</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#mind-gym"
        >Mind Gym: An Athlete's Guide to Inner Excellence</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#endure"
        >Endure: Mind, Body, and the Curiously Elastic Limits of Human
        Performance</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#relentless"
        >Relentless: From Good to Great to Unstoppable</a
      >
    </li>
  </ul>
</div>

<!-- <ul class="sm:list-decimal max-w-3xl mx-auto sm:pl-5 pt-2"> -->
<!-- <li class="sm:pl-10"> -->
<TextSection>
  <h3 id="peak-performance">
    <span>1.</span>
    <a class="link--theme" href="#">"Change Your Brain Every Day"</a>
    by Daniel Amen
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="It is your commitment to the process that will determine your progress"
  />

  <p class="!mt-6">
    Do you wish there was an easier way to boost your brain power and live a
    happier, healthier life?
  </p>
  <p>
    Look no further - Dr. Daniel Amen has written the perfect book for this!
    Change Your Brain Every Day is packed with simple tips and tools for
    improving your mental health every day. From memory-building exercises to
    relaxation techniques, he provides easy-to-follow advice that can help you
    feel more focused, energized, and fulfilled in just minutes per day.
  </p>

  <p>
    Get yourself a copy of Change Your Brain Every Day now! <a
      class="underline link--theme "
      href="#">Click here</a
    > for discounts and free shipping offers today!
  </p>
</TextSection>

<TextSection>
  <h3 id="champions-mind">
    <span>2. </span>
    <a class="link--theme" href="#">"The 7 Habits of Highly Effective People"</a
    >
    by Stephen Covey
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="If I really want to improve my situation, I can work on the one thing over which I have control - myself"
  />

  <p class="!mt-6">
    Tired of feeling stuck in your own head and want to make some changes?
  </p>
  <p>
    It's time to start changing your brain every day with the Change Your Brain
    Every Day by Daniel Amen and Keila Shaheen. This Shadow Work Journal is the
    perfect way to get started on the journey towards personal growth. The
    journal includes daily prompts, self-reflection exercises, worksheets, and
    more that will help you face any shadows you have been avoiding.
  </p>
  <p>
    grab a copy of <a class="underline link--theme " href="#"
      >Change Your Brain</a
    > Every Day now!
  </p>
</TextSection>

<TextSection>
  <h3 id="mind-gym">
    <span>3.</span>
    <a class="link--theme" href="#"
      >"Outlive: The Science and Art of Longevity"</a
    >
    by Peter Attia
  </h3>

  <!--  Content to change -->

  <!-- <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="Not giving a f*ck it does not mean being different, it means being comfortable with being different"
  />

  <p class="!mt-6">
    Are you looking for ways to improve your overall health and wellbeing? 
  </p>
  <p>
    Change Your Brain Every Day by Daniel Amen is a groundbreaking manifesto on living better and longer, challenging the conventional medical thinking on aging. This book provides readers with a valuable new approach to preventing chronic disease and extending long-term health, making it essential reading for anyone interested in improving their quality of life. 
  </p>
  <p>
    Get started today! Buy  now at our website!
    <a class="underline link--theme" href="#">Click here!</a> now to grab your copy
    of The Subtle Art of Not Giving a F*ck today!
  </p> -->
</TextSection>

<TextSection>
  <h3 id="endure">
    <span>4.</span>
    <a class="link--theme" href="#"
      >"Outlive: The Science and Art of Longevity"</a
    >
    by Peter Attia
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="It is your commitment to the process that will determine your progress"
  />

  <p class="!mt-6">
    Are you looking for a way to extend your health span and live better and
    longer?
  </p>
  <p>
    Outlive is the groundbreaking manifesto that can provide you with the
    roadmap to do just that. Written by leading longevity expert Dr. Dave
    Williams, it provides an insightful look into the science of aging and
    reveals practical tips on how to prevent chronic diseases while extending
    long-term health. It’s not just about living longer - but also living
    better!
  </p>

  <p>
    Buy your copy now to unlock the secrets behind living healthier for years to
    come! Get today!
  </p>
</TextSection>

<TextSection>
  <h3 id="relentless">
    <span>5. </span>
    <a class="link--theme" href="#">"Mindset"</a>
    by Carol Dweck
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard products={1} />
  </div>

  <BooksQuote
    quote="I derive just as much happiness from the process as from the results"
  />

  <p class="!mt-6">Are you looking for the secret to success?</p>

  <p>
    <a class="underline link--theme" href="#">Mindset by Carol Dweck</a> can show
    you the way. This book breaks down how having a growth mindset will help enable
    success in personally and professionally life. It provides practical advice and
    tools to help those willing to take action on their goals, dreams, relationships,
    and wellbeing.
  </p>

  <p>
    With her research-driven insights into human motivation and development
    mind-blowing stories of people who have achieved extraordinary things -
    Mindset offers an inspiring roadmap for readers looking to unlock their
    potential.
  </p>

  <p>
    Get your copy of <a class="underline link--theme" href="#"
      >this inspiring read now!</a
    > Discover how having the right mindset can be the key ingredient behind achieving
    any goal or dream today.
  </p>
</TextSection>
