---
import ProductsContainer from "../../products/productsContainer/productsContainer.astro";
import { Data } from "../../../../utils/booksContainer/motivational";
---

<h2 class="leading-7" id="best-selling-motivational-books">
  12 Best-Selling Motivational Books
</h2>

<ProductsContainer productsArray={Data} />
