<div
  class="sm:w-11/12 max-w-2xl sm:mx-auto mt-10 bg-[--theme-surface-2] py-10 px-4 sm:pl-16 rounded-lg"
>
  <h2 class="leading-7">List Of Content:</h2>
  <ul class="items-left list-decimal ml-6 underline">
    <li class="mb-2">
      <a class="cursor-pointer" href="#best-books-for-athletes"
        >Top 5 Best Books For Athletes</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#best-sports-and-outdoor-books"
        >Best Sports and Outdoors Books</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#best-sports-books-oat"
        >Top 5 Best Sports Books Of All Time:</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#faqs">Frquently asked questions</a>
    </li>
  </ul>
</div>
