---
import TextSection from "../../../textSection/TextSection.astro";
import ProductCard from "../../products/productCard/productCard.astro";
---

<div
  id="best-motivational-books"
  class="sm:w-11/12 max-w-2xl sm:mx-auto mt-10 rounded-lg"
>
  <h2 class="leading-7" id="best-successful-books">
    5 Best Books to read about economics
  </h2>
  <ol class="items-left underline">
    <li class="mb-2">
      <a class="cursor-pointer" href="#intelligent-investor"
        >The Intelligent Investor</a
      >
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#profit-first">Profit First</a>
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#art-of-war">The Art of War</a>
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#career-and-family">Career and Family</a>
    </li>
    <li class="mb-2">
      <a class="cursor-pointer" href="#going-infinite">Going Infinite</a>
    </li>
  </ol>
</div>

<TextSection>
  <h3 id="intelligent-investor">
    1.
    <span class="link--theme">"The Intelligent Investor"</span>
    by Benjamin Graham
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard
      title="The Intelligent Investor"
      href="https://amzn.to/3RWaUZo"
      siteLink="https://amzn.to/3RWaUZo"
      imgLink="https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/the-intelligent-investor-benjamin-graham-investment-classics-edward-g.jpg"
    />
  </div>

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    <span class="link--theme">"The Intelligent Investor"</span> by Benjamin Graham
    is a timeless classic on value investing that emphasizes long-term financial
    success through careful analysis, risk management, and discipline in the world
    of stocks and bonds. It offers invaluable insights for investors seeking a rational
    and systematic approach to achieving their financial goals.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    <span class="link--theme">"The Intelligent Investor"</span> teaches readers the
    principles of value investing, advocating for a patient, disciplined, and analytical
    approach to stock market investing. It emphasizes the importance of margin of
    safety and understanding intrinsic value to make informed, long-term investment
    decisions.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "This book is perhaps the most important and insightful book on investing,
    and an eternal classic."
  </p>

  <p>
    Buy <a
      target="_blank"
      class="underline link--theme"
      href="https://amzn.to/3RWaUZo">"The Intelligent Investor"</a
    >
  </p> On Amazon
</TextSection>

<TextSection>
  <h3 id="profit-first">
    <span>2.</span>
    <span class="link--theme">"Profit First"</span>
    by Mike Michalowicz
  </h3>

  <ProductCard
    title="Profit First"
    href="https://amzn.to/3QdV6Qv"
    siteLink="https://amzn.to/3QdV6Qv"
    imgLink="https://th.bing.com/th/id/OIP.iLa27cbefmgGlzEzBYs8iQHaLL?rs=1&pid=ImgDetMain"
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    <span class="link--theme">"Profit First"</span> by Mike Michalowicz introduces
    a revolutionary approach to managing business finances, emphasizing the allocation
    of profits from the start and ensuring sustainable profitability. It offers practical
    steps for entrepreneurs and small business owners to achieve financial stability
    and long-term success.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    <span class="link--theme">"Profit First"</span> teaches readers the importance
    of prioritizing profits in their financial management, helping businesses thrive
    while maintaining financial health. It advocates for a simple yet effective system
    that ensures sustainable profitability, financial stability, and growth.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "I liked how easy it was to understand and not complicated with finance
    jargon. Easy for a beginner to understand."
  </p>

  <p>
    Buy <a
      target="_blank"
      class="underline link--theme"
      href="https://amzn.to/3QdV6Qv">Profit First</a
    >
  </p> On Amazon
</TextSection>

<TextSection>
  <h3 id="art-of-war">
    <span>3.</span>
    <span class="link--theme">"The Art of War"</span>
    by Sun Tzu
  </h3>

  <ProductCard
    title="The Art of War"
    href="https://amzn.to/45sE0CK"
    siteLink="https://amzn.to/45sE0CK"
    imgLink="https://th.bing.com/th/id/OIP.YXa2sEykcCuGu5ExHxg5iwHaLS?rs=1&pid=ImgDetMain"
  />

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    "The Art of War" by Sun Tzu is an ancient Chinese military treatise that
    offers timeless wisdom on strategy, leadership, and tactics. It explores
    principles of warfare that have been applied to various aspects of life,
    including business and personal development.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    "The Art of War" teaches readers the importance of strategic thinking,
    adaptability, and the use of deception and maneuvering to achieve success in
    various endeavors, not just in warfare. It underscores the value of
    understanding one's strengths and weaknesses, as well as those of the
    opposition, to make informed decisions and gain a competitive edge.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "Exceptional beauty and quality! Perfect! I enjoy It! So much. The print is
    the perfect size and the layout is flawless!!"
  </p>

  <p>
    Buy <a
      target="_blank"
      class="underline link--theme"
      href="https://amzn.to/45sE0CK">The Art of War</a
    >
  </p> on Amazon
</TextSection>

<TextSection>
  <h3 id="career-and-family">
    <span>4.</span>
    <span class="link--theme">"Career and Family"</span>
    by Claudia Goldin
  </h3>

  <div class="max-w-lg mx-auto">
    <ProductCard
      title="Career and Family"
      href="https://amzn.to/3tu44A4"
      siteLink="https://amzn.to/3tu44A4"
      imgLink="https://th.bing.com/th/id/OIP.T9hVsn0aFBcxRQpB6Q1Z_QHaLQ?rs=1&pid=ImgDetMain"
    />
  </div>

  <h3 class="!mt-6 link--theme">Summary:</h3>
  <p>
    <span class="link--theme">"Career and Family"</span> by Claudia Goldin explores
    the challenges and opportunities women face in balancing careers and family life,
    offering insights into how societal structures can evolve to support gender equality
    in the workplace. Goldin's research highlights the importance of policy changes
    and workplace flexibility to promote gender equity.
  </p>

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    <span class="link--theme">"Career and Family"</span> teaches readers about the
    complexities of the gender pay gap and how changes in work arrangements and public
    policies can help women balance successful careers with family responsibilities.
    It underscores the significance of creating a supportive environment for working
    parents to achieve both professional and personal fulfillment.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "A lot of people like to talk about the gender pay gap. This economist has
    focused on it for her research. She talks about the difference between
    flexible and greedy jobs. It is neat to see how providing for a family vs.
    caring for one cause different career decisions which pile on each other
    over time."
  </p>

  <p>
    Buy <a
      target="_blank"
      class="underline link--theme"
      href="https://amzn.to/3tu44A4">Career and Family</a
    > on Amazon
  </p>
</TextSection>

<TextSection>
  <h3 id="going-infinite">
    5.
    <span class="link--theme">"Going Infinite"</span>
    by Michael Lewis
  </h3>

  <ProductCard
    title="Going Infinite"
    href="https://amzn.to/3LUNXlr"
    siteLink="https://amzn.to/3LUNXlr"
    imgLink="https://th.bing.com/th/id/OIP.JpSYfxwzYZP7uuvxi4sf0AAAAA?rs=1&pid=ImgDetMain"
  />

  <h3 class="link--theme">What It Teaches:</h3>
  <p>
    In Going Infinite Lewis takes readers into the mind of Bankman-Fried, whose
    rise and fall offers an education in high-frequency trading,
    cryptocurrencies, philanthropy, bankruptcy, and the justice system. Both
    psychological portrait and financial roller-coaster ride, Going Infinite is
    Michael Lewis at the top of his game, tracing the mind-bending trajectory of
    a character who never liked the rules and was allowed to live by his
    own―until it all came undone.
  </p>

  <h3 class="link--theme">Amazon Review:</h3>
  <p class="text-sm">
    "I was looking forward to reading Michael Lewis's impressions of SBF and how
    things went down at FTX. This book makes me want to research further about
    how the lack of internal controls at FTX/Alameda Research led to their
    downfall. I think this book should be included in the required reading for
    accounting/finance/ management students"
  </p>

  <p>
    Read <a
      target="_blank"
      class="underline link--theme"
      href="https://amzn.to/3LUNXlr">Going Infinite</a
    >
    on Amazon
  </p>
</TextSection>
