---
---

<p class="odyssey-logo inline-block p-2 ">SIB</p>

<style>
  .odyssey-logo {
    width: fit-content;
    margin: 0 !important;
    font-family: var(--theme-font-family-serif);
    font-size: var(--font-size-md);
    color: inherit;
    cursor: pointer;
  }
</style>
